{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %}
    {% block title %} Admin - {{ parent() }} {% endblock %}
{% block rfccore_body %}

<div class="panel panel-default">
    <div class="panel-heading">
        Categories &nbsp;
        <a class="ym-button ym-add" href="{{ path('admin_category_new', {'gameId' : gameId}) }}">Add</a>
    </div>
    <div id="msg"></div>
    <div class="panel-body">
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Name</th>
    				<th>Description</th>
    				<th>Images</th>
    			</tr>
    		</thead>
    		<tbody class="table-striped">
				{% for category in categories %}
	    		<tr>
	    			<td>
	    				<a href="{{ path('admin_category_edit', {'categoryId' : category.id, 'gameId' : gameId}) }}">{{ category.name }}</a>
	    			</td>
                    <td>{{ category.description }}</td>
		    		<td>
		    			{% if category.listImages|length > 0 %}
		    				<a class="ym-button gallery fancybox.ajax" href="{{ path('rfcCore_showGallery', {'elementType': 'category', 'elementId' : category.id}) }}">show ({{ category.listImages|length }})</a>
		    			{% else %}
		    				-
		    			{% endif %}
		    		</td>
	    		</tr>
	    		{% endfor %}
    		</tbody>
    	</table>
    </div>
</div>
{% endblock %}
