{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% if eventId is null %} 
    Aucun Event sélectionné. Veuillez sélectionner un Event. 
{% else %}
    {% if sessions %}
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Name</th>
    				<th>Type</th>
    				<th>Dates</th>
    			</tr>
    		</thead>
    		<tbody class="table-striped">
        		{% for session in sessions %}
	    		<tr>
	    			<td>
                        <a href="{{ path('admin_session_edit', { 'sessionId': session.id, 'gameId': gameId, 'championshipId': championshipId, 'eventId' : eventId}) }}">
    					   {{ session.name }}
    					</a>
    					<a id="session_{{ session.id }}" data-session="{{ session.id }}" data-event="{{ eventId }}" data-game="{{ gameId }}" data-championship= "{{ championshipId }}"
    					href="#session_{{ session.id }}" class="sessionItem">select</a>
	    			</td>
                    <td>{{ session.typeSession.name }}</td>
                    <td>
                        <small>
                        	<span class="label label-primary">
                        		{{ session.beginDate|date("Y/m/d H:i") }}
                        	</span>
                        	 > 
                        	<span class="label label-primary">
                        		{{ session.endDate|date("Y/m/d H:i") }}
                        	</span>
                        </small>
                    </td>
	    		</tr>
	    		{% endfor %}
    		</tbody>
    	</table>
    {% endif %}
    Ajouter une session
    <a class="ym-button ym-add" href="{{ path('admin_session_new', {'gameId' : gameId, 'championshipId' : championshipId, 'eventId' : eventId}) }}">Add</a>
{% endif %}
