{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/Championship/showSession.html.twig #}

{% if session is defined %}

    {% set canEdit = (is_granted('ROLE_MANAGER') and session.event.championship.isManager(app.user.id)) or is_granted('ROLE_CERTIFIED_MANAGER') %}

    <div class="ui grid">

        <div class="five wide column">

            <div class="ui items">
                <div class="item">
                    <div class="image">
                        <img src="/images/wireframe/image.png">
                    </div>
                    <div class="content">
                        <div class="header">{{ session.name }}</div>
                        <div class="meta">
                            {{ session.typeSession.name }}
                        </div>
                        <div class="description">
                            {{ session.description ? session.description }}
                        </div>
                    </div>
                </div>
                <div class="ui mini label">
                    {{ session.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                    <i class="right chevron icon"></i>
                    {{ session.endDate|date("Y/m/d H:i") }}
                </div>
            </div>

        </div>
        <div class="eleven wide column">

            {% if session.typeSession.usedForResults %}
                <div id="results">
                    {% set now = "now"|date("Y/m/d H:i", "Europe/Paris") %}
                    {% if now < session.beginDate|date("Y/m/d H:i") %}
                        Session is not started yet...
                    {% else %}
                        {% if now > session.endDate|date("Y/m/d H:i") %}
                            {% if session.listResults is empty %}
                                <div id="formContainer">
                                    <h5>There are not results yet!</h5>
                                    {% if canEdit %}
                                        <form id="setResults">
                                            <table class="ui basic table">
                                                <thead>
                                                    <tr>
                                                        <th>Rule</th>
                                                        <th>Points</th>
                                                        <th>User</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% set rules = session.event.championship.metaRule ? session.event.championship.metaRule.listRules : session.event.championship.listRules %}
                                                    {% for rule in rules %}
                                                        {% if rule.typeSession.id == session.typeSession.id %}
                                                            <tr>
                                                                <td>
                                                                    <label for="{{ rule.id }}">{{ rule.name }}</label>
                                                                </td>
                                                                <td>
                                                                    {{ rule.value }}
                                                                </td>
                                                                <td>
                                                                    <select id="{{ rule.id }}" name="{{ rule.id }}">
                                                                        <option value="{{ rule.id }},{{ rule.value }},,">---</option>
                                                                        {% for user in session.event.championship.listUsers %}
                                                                            <option value="{{ rule.id }},{{ rule.value }},{{ user.id }},">{{ user.userName }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <textarea name="comments" value=""></textarea>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot class="full-width">
                                                    <tr>
                                                        <th colspan="4">
                                                <div class="ui right aligned">
                                                    <input type="hidden" id="sessionId" name="sessionId" value="{{ session.id }}" />
                                                    <input class="ui button" type="reset" />
                                                    <input class="ui button" type="submit" />
                                                </div>
                                                </th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </form>
                                    {% endif %}
                                </div>
                            {% else %}
                                {% if canEdit %}
                                    <form id="setResults">
                                    {% endif %}
                                    <table class="ui basic table">
                                        <thead>
                                            <tr>
                                                <th>Rule</th>
                                                <th>Points</th>
                                                <th>User</th>
                                                <th>Comments</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for result in session.listResults %}
                                                {% if result.rule.typeSession.id == session.typeSession.id %}
                                                    <tr>
                                                        <td>
                                                            <label for="{{ result.rule.id }}">{{ result.rule.name }}</label>
                                                        </td>
                                                        <td>
                                                            {{ result.rule.value }}
                                                        </td>
                                                        <td>
                                                            {% if canEdit %}
                                                                <select id="{{ result.rule.id }}" name="{{ result.rule.id }}">
                                                                    <option value="{{ result.rule.id }},{{ result.rule.value }},,{{ result.id }}">---</option>
                                                                    {% for championshipUser in session.event.championship.listUsers %}
                                                                        {% set selected = false %}
                                                                        {% if result.user is not null %}
                                                                            {% if result.user.id == championshipUser.id %}
                                                                                {% set selected = true %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                        <option {{ selected == true ? 'selected="selected" ' : '' }}value="{{ result.rule.id }},{{ result.rule.value }},{{ championshipUser.id }},{{ result.id }}">{{ championshipUser.userName }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% else %}
                                                                {{ result.user is not null ? result.user.username : "-" }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if canEdit %}
                                                            <textarea name="comments">
                                                                {{- result.comments -}}
                                                            </textarea>
                                                            {% else %}
                                                                {{- result.comments -}}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                        {% if canEdit %}
                                            <tfoot class="full-width">
                                                <tr>
                                                    <th colspan="4">
                                            <div class="ui right aligned">
                                                <input type="hidden" id="sessionId" name="sessionId" value="{{ session.id }}" />
                                                <input class="ui button" type="reset" />
                                                <input class="ui button" type="submit" />
                                            </div>
                                            </th>
                                            </tr>
                                            </tfoot>
                                        {% endif %}
                                    </table>
                                    {% if canEdit %}
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            Session is not over yet...
                        {% endif %}
                    {% endif %}
                </div>
            {% else %}
                <div>
                    <h5>No results for this type of session.</h5>
                </div>
            {% endif %}

        </div>

    </div>

{% else %}

    No sessions

{% endif %}