{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/Championship/showSession.html.twig #}

{% if session is defined %}

	<hr />

	<div class="ym-grid">
		<div class="ym-g100">
	        <div class="ym-gbox">
	            <h3>
					Selected session : {{ session.name }}
				</h3>
				<div id="informations">
					<h4>Informations</h4>
                    Description : {{ session.description ? session.description : '-' }}<br />
					Dates : <small>
	                	<span class="label label-primary">
	                		{{ session.beginDate|date("Y/m/d H:i") }}
	                	</span>
	                	>
	                	<span class="label label-primary">
	                		{{ session.endDate|date("Y/m/d H:i") }}
	                	</span>
	                </small>
				</div>
                {% if session.typeSession.usedForResults %}
                    <div id="results">
                        <h4>Results</h4>
                        {% set now = "now"|date("Y/m/d H:i", "Europe/Paris") %}
                        {% if now < session.beginDate|date("Y/m/d H:i") %}
                            Session is not started yet...
                        {% else %}
                            {% if now > session.endDate|date("Y/m/d H:i") %}
                                {% if session.listResults is empty %}
                                    <div id="formContainer">
                                    There is not results yet! Please set them!<br />
                                        <form id="setResults">
                                            {% set rules = session.event.championship.metaRule ? session.event.championship.metaRule.listRules : session.event.championship.listRules %}
                                            {% for rule in rules %}
                                                <label for="{{ rule.id }}">{{ rule.name }} ({{ rule.value }})</label>
                                                <select id="{{ rule.id }}" name="{{ rule.id }}">
                                                    <option value="{{ rule.id }},{{ rule.value }},,">---</option>
                                                    {% for user in session.event.championship.listUsers %}
                                                        <option value="{{ rule.id }},{{ rule.value }},{{ user.id }},">{{ user.userName }}</option>
                                                    {% endfor %}
                                                </select>
                                                <br />
                                            {% endfor %}
                                            <input type="hidden" id="sessionId" name="sessionId" value="{{ session.id }}"/>
                                            <input type="submit" class="ym-button" />
                                        </form>
                                    </div>
                                {% else %}
                                    Results are : <br />
                                    {% set canEdit = is_granted('ROLE_MANAGER') and session.event.championship.isManager(app.user) %}
                                    {% if canEdit or is_granted('ROLE_CERTIFIED_MANAGER') %}
                                        <form id="setResults">
                                            {% for result in session.listResults %}
                                                <label for="{{ result.rule.id }}">{{ result.rule.name }} ({{ result.value }})</label>
                                                <select id="{{ result.rule.id }}" name="{{ result.rule.id }}">
                                                    <option value="{{ result.rule.id }},{{ result.rule.value }},,{{ result.id }}">---</option>
                                                    {% for championshipUser in session.event.championship.listUsers %}
                                                        {% if result.user is not null %}
                                                            {% if result.user.id == championshipUser.id %}
                                                                {% set selected = true %}
                                                            {% endif %}
                                                        {% endif %}
                                                        <option {{ selected is defined ? 'selected="selected" ' : '' }}value="{{ result.rule.id }},{{ result.rule.value }},{{ championshipUser.id }},{{ result.id }}">{{ championshipUser.userName }}</option>
                                                    {% endfor %}
                                                </select>
                                                <br />
                                            {% endfor %}
                                            <input type="hidden" id="sessionId" name="sessionId" value="{{ session.id }}"/>
                                            <input type="submit" class="ym-button" />
                                        </form>
                                    {% else %}
                                        {% for result in session.listResults %}
                                            {{result.rule.name}} ({{ result.value }}) : {{ result.user is not null ? result.user.username : "-" }}<br />
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                Session is not over yet...
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <div>
                        <h5>No results for this type of session.</h5>
                    </div>
                {% endif %}
			</div>
		</div>
	</div>
	
{% else %}
	
	No sessions
	
{% endif %}