{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %}
{% block title %}
    Admin - {{ parent() }}
{% endblock %} 
{% block rfccore_body %}
    <h1>Game edit</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.shortName) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.commentsActive) }}

    <h3>Images</h3>
    <ul class="images" data-prototype="{{ form_widget(edit_form.listImages.vars.prototype)|e }}">
        {# itère sur chaque image existantz et affiche ses champs #}
        {% for image in edit_form.listImages %}
            <li>{{ form_row(image.name) }}
                {{ form_row(image.description) }}
                {{ form_row(image.url) }}
                {{ form_row(image.alt) }}</li>
            {% endfor %}
    </ul>

    <input type="submit" />
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li><a href="{{ path('admin_game_manage', {'gameId': entity.id}) }}"> Back to the game </a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
