{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}

<div class="panel panel-default">
    <div class="panel-heading">Informations</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Number games</dt>
          <dd>xxx</dd>
        </dl>
    </div>
</div>

Games &nbsp;
<a class="ym-button ym-add" href="{{ path('admin_game_new') }}">Add</a>

<ul class="list-inline">
	{% for game in games %}
	<li class="float-left">
        <div class="center">
            <a href="{{ path('admin_game_manage', {'gameId': game.id}) }}">
				{% if game.listImages is not empty %}
				<img alt="{{ game.shortName }}" src="{{ game.listImages[0].url }}" class="img-rounded" width="200px" />
                <br />
                {% endif %}
                <span class="label label-default">{{ game.name }}</span>
            </a>
            <br />
            <a href="{{ path('admin_game_show', { 'gameId': game.id }) }}"><span class="label label-default">show</span></a>
            <br />
            <a href="{{ path('admin_game_edit', { 'gameId': game.id }) }}"><span class="label label-default">edit</span></a>
        </div>
    </li>
    {% else %}
	   <li>Pas (encore !) de jeux</li> 
    {% endfor %}
</ul>

{% endblock %}
