{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}

<h1>Game list</h1>

<table class="records_list">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr>
			<td><a href="{{ path('admin_game_show', { 'gameId': entity.id }) }}">{{
					entity.id }}</a></td>
			<td>{{ entity.name }}</td>
			<td>
				<ul>
					<li><a href="{{ path('admin_game_show', { 'gameId': entity.id }) }}">show</a>
					</li>
					<li><a href="{{ path('admin_game_edit', { 'gameId': entity.id }) }}">edit</a>
					</li>
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<ul>
	<li><a href="{{ path('admin_game_new') }}"> Create a new entry </a></li>
</ul>

{% endblock %}
