{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCCoreBundle::layout.html.twig" %}
{% block title %}
	Admin - {{ parent() }}
{% endblock %}
{% block rfccore_body %}

<div class="panel panel-default">
    <div class="panel-heading">Informations for the game : {{ game.name }}</div>
    <a class="ym-button edit"href="{{ path('admin_game_edit', { 'gameId': game.id }) }}">Edit</a>
    <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Number championships</dt>
          <dd>{{ game.listChampionships|length }}</dd>
          <dt>Number vehicles</dt>
          <dd>{{ game.listVehicles|length }}</dd>
          <dt>Number tracks</dt>
          <dd>{{ game.listTracks|length }}</dd>
          <dt>Number categories</dt>
          <dd>{{ game.listCategories|length }}</dd>
          <dt>Number meta rules</dt>
          <dd>{{ game.listMetaRules|length }}</dd>
          <dt>Number rules</dt>
          <dd>{{ game.listRules|length }}</dd>
          <dt>Number session types</dt>
          <dd>{{ game.listTypeSessions|length }}</dd>
        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
        <ul>
            <li><a href="{{ path('admin_championship', {'gameId' : game.id}) }}">Gérer les Championnats</a></li>
            <li><a href="{{ path('admin_track', {'gameId' : game.id}) }}">Gérer les Circuits</a></li>
        	<li><a href="{{ path('admin_vehicle', {'gameId' : game.id}) }}">Gérer les Voitures</a></li>
        	<li><a href="{{ path('admin_category', {'gameId' : game.id}) }}">Gérer les Categories</a></li>
        	<li><a href="{{ path('admin_metaRule', { 'gameId': game.id }) }}">Gérer les Règles</a></li>
        	<li><a href="{{ path('admin_typeSession', { 'gameId': game.id }) }}">Gérer les Types de session</a></li>
        	<li><a href="{{ path('setup_step_index', { 'gameId': game.id }) }}">Gérer les Steps</a></li>
        </ul>
    </div>
</div>

{% endblock %}
