{% extends "RFCCoreBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Listsessions</th>
			<th>Begindate</th>
			<th>Enddate</th>
			<th>Listbroadcast</th>
			<th>Track</th>
			<th>Vehicle</th>
			<th>Category</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="table-striped">
		{% for entity in entities %}
		<tr>
			<td><a
				href="{{ path('admin_event_show', { 'id': entity.id, 'gameId': gameId, 'championshipId' : championshipId }) }}">{{
					entity.id }}</a></td>
			<td>{% if entity.listSessions is empty %} <a
				class="btn btn-inverse btn-xs" role="button"
				href="{{ path('admin_session_new', {'gameId' : gameId, 'championshipId' : entity.id}) }}">Add
					a Session <span class="glyphicon glyphicon-plus"></span>
			</a> {% else %}
				<ul>
					{% for session in entity.listSessions %}
					<li>{{ session.id }}</li> {% endfor %}
				</ul> {% endif %}
			</td>
			<td>{% if entity.beginDate %}{{ entity.beginDate|date('Y-m-d H:i:s')
				}}{% endif %}</td>
			<td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d H:i:s') }}{%
				endif %}</td>
			<td>{% for broadcast in entity.listBroadcast %}{{ broadcast }}{%
				endfor %}</td>
			<td>{{ entity.track }}</td>
			<td>{{ entity.vehicle }}</td>
			<td>{{ entity.category }}</td>
			<td>
				<ul>
					<li><a
						href="{{ path('admin_event_show', { 'id': entity.id, 'gameId': gameId, 'championshipId' : championshipId }) }}">show</a>
					</li>
					<li><a
						href="{{ path('admin_event_edit', { 'id': entity.id, 'gameId': gameId, 'championshipId' : championshipId }) }}">edit</a>
					</li>
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<ul>
	<li><a
		href="{{ path('admin_event_new', { 'gameId': gameId, 'championshipId' : championshipId }) }}">
			Create a new entry </a></li>
</ul>
{% endblock %}
