<<<<<<< HEAD
{% extends "RFCCoreBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}
<h1>Event</h1>

<table class="record_properties">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ entity.id }}</td>
		</tr>
		<tr>
			<th>Listsessions</th>
			<td>{% if entity.listSessions is empty %} <a
				class="btn btn-inverse btn-xs" role="button"
				href="{{ path('admin_session_new', {'gameId' : gameId, 'championshipId' : entity.id}) }}">Add
					a Session <span class="glyphicon glyphicon-plus"></span>
			</a> {% else %}
				<ul>
					{% for session in entity.listSessions %}
					<li>{{ session.id }}</li> {% endfor %}
				</ul> {% endif %}
			</td>
		</tr>
		<tr>
			<th>Begindate</th>
			<td>{{ entity.beginDate|date('Y-m-d H:i:s') }}</td>
		</tr>
		<tr>
			<th>Enddate</th>
			<td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
		</tr>
		<tr>
			<th>Listbroadcast</th>
			<td>{% for broadcast in entity.listBroadcast %}{{ broadcast }}{%
				endfor %}</td>
		</tr>
		<tr>
			<th>Track</th>
			<td>{{ entity.track }}</td>
		</tr>
		<tr>
			<th>Vehicle</th>
			<td>{{ entity.vehicle }}</td>
		</tr>
		<tr>
			<th>Category</th>
			<td>{{ entity.category }}</td>
		</tr>
	</tbody>
</table>

<ul class="record_actions">
	<li><a
		href="{{ path('admin_event', { 'gameId': gameId, 'championshipId' : championshipId }) }}">
			Back to the list </a></li>
	<li><a
		href="{{ path('admin_event_edit', { 'id': entity.id, 'gameId': gameId, 'championshipId' : championshipId }) }}">
			Edit </a></li>
	<li>{{ form(delete_form) }}</li>
=======
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Listsessions</th>
                <td>{{ entity.listSessions }}</td>
            </tr>
            <tr>
                <th>Begindate</th>
                <td>{{ entity.beginDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Listbroadcast</th>
                <td>{{ entity.listBroadcast }}</td>
            </tr>
            <tr>
                <th>Track</th>
                <td>{{ entity.track }}</td>
            </tr>
            <tr>
                <th>Vehicle</th>
                <td>{{ entity.vehicle }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
>>>>>>> WorkingBundles
</ul>
{% endblock %}
