{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCCoreBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}
<h1>Event</h1>

<table class="record_properties">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ entity.id }}</td>
		</tr>
		<tr>
			<th>Listsessions</th>
			<td>{% if entity.listSessions is empty %} <a
				class="btn btn-inverse btn-xs" role="button"
				href="{{ path('admin_session_new', {'gameId' : gameId, 'championshipId' : championshipId ,'eventId' : entity.id}) }}">Add
					a Session <span class="glyphicon glyphicon-plus"></span>
			</a> {% else %}
				<ul>
					{% for session in entity.listSessions %}
					<li>{{ session.id }}</li> {% endfor %}
				</ul> {% endif %}
			</td>
		</tr>
		<tr>
			<th>Begindate</th>
			<td>{{ entity.beginDate|date('Y-m-d H:i:s') }}</td>
		</tr>
		<tr>
			<th>Enddate</th>
			<td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
		</tr>
		<tr>
			<th>Listbroadcast</th>
			<td>{% for broadcast in entity.listBroadcast %}{{ broadcast }}{%
				endfor %}</td>
		</tr>
		<tr>
			<th>Track</th>
			<td>{{ entity.track }}</td>
		</tr>
	</tbody>
</table>

<ul class="record_actions">
	<li><a
		href="{{ path('admin_event', { 'gameId': gameId, 'championshipId' : championshipId }) }}">
			Back to the list </a></li>
	<li><a
		href="{{ path('admin_event_edit', { 'eventId': entity.id, 'gameId': gameId, 'championshipId' : championshipId }) }}">
			Edit </a></li>
	<li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
