{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Listsessions</th>
                <td>{{ entity.listSessions }}</td>
            </tr>
            <tr>
                <th>Begindate</th>
                <td>{{ entity.beginDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Listbroadcast</th>
                <td>{{ entity.listBroadcast }}</td>
            </tr>
            <tr>
                <th>Track</th>
                <td>{{ entity.track }}</td>
            </tr>
            <tr>
                <th>Vehicle</th>
                <td>{{ entity.vehicle }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
