{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/SetupBundle/Resources/views/Setup/index.html.twig #}
{% extends "RFCSetupBundle::layout.html.twig" %}
    {% block title %}
        Accueil - {{ parent() }}
{% endblock %}
{% block rfccore_body %}

<h2>My setups</h2>

{% if app.user %}
    
    <a class="ym-button ym-add" href="{{ path('setup_new', {'gameId': gameId}) }}"> create </a><br />

    {% if setups %}

        <ul class="list-inline">
            {% for setup in setups %}
            <li class="float-left">
                <div class="center">
                    <a href="{{ path('setup_edit', {'gameId': gameId, 'setupId': setup.id}) }}">
                        {% if setup.listImages is not empty %}
                        <img alt="{{ setup.listImages[0].name }}" src="{{ setup.listImages[0].url }}" class="img-rounded" width="200px" />
                        <br />
                        {% endif %}
                        <span class="label label-default">{{ setup.name }} : {{ setup.vehicle.name }} {{ setup.track ? '@' ~ setup.track.name }}</span>
                    </a><br />
                    {% set currentStep = setup.getLastStepCompleted %}
                    {% set stepsComplete = currentStep.step.stepOrder == setup.getOrderedSteps|length %}
                    {% set setupUpToDate = setup.getOrderedSteps|length == steps|length %}
                    Step {{ currentStep.step.stepOrder }} / {{ setup.getOrderedSteps|length }} {{ currentStep.value is not empty and stepsComplete ? 'Complete' }}
                    <br />
                    {% if setupUpToDate %}
                            <a href="{{ path('setup_show', {'gameId': gameId, 'setupId': setup.id}) }}"> configure </a>
                    {% else %}
                            Setup outdated, consider upgrading it! <br />
                            <a href="{{ path('setup_upgrade', {'gameId': gameId, 'setupId': setup.id}) }}"> upgrade </a>
                    {% endif %}
                    <a href="{{ path('setup_delete', {'gameId': gameId, 'setupId': setup.id}) }}"> delete </a>
                </div>
            </li>
            {% endfor %}
        </ul>

    {% else %}
        No setups available
    {% endif %}

{% else %}
    You need to log-in access the setup screen.
{% endif %}

{% endblock %}
