{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/SetupBundle/Resources/views/Setup/index.html.twig #}
{% extends "RFCCoreBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block rfccore_body %}

    <h2>My setups</h2>

    {% if app.user %}

        {% set canEdit = is_granted('ROLE_MANAGER') or is_granted('ROLE_CERTIFIED_MANAGER') %}

        {% if canEdit %}
            <a class="red ui labeled icon button" href="{{ path('setup_step_index', { 'gameId': gameId }) }}">
                <i class="wrench icon"></i>Manage setups
            </a>
        {% endif %}

        <a class="ui icon teal labeled button" href="{{ path('setup_new', {'gameId': gameId}) }}">
            <i class="add icon"></i> Create
        </a>
        <br />

        {% if setups %}

            <div class="ui five cards">

                {% for setup in setups %}
                    <div class="ui card">
                        <div class="image">
                            <img src="/images/avatar/large/stevie.jpg">
                        </div>
                        <div class="content">
                            <div class="header">{{ setup.name }}</div>
                            <div class="meta">
                                <span class="date">{{ setup.vehicle.name }} {{ setup.track ? '@' ~ setup.track.name }}</span>
                            </div>
                            <div class="description">
                                {% set currentStep = setup.getLastStepCompleted %}
                                {% set stepsComplete = currentStep ? currentStep.step.stepOrder == setup.getOrderedSteps|length : false %}
                                {% set setupUpToDate = setup.getOrderedSteps|length == steps|length %}
                                Step {{ currentStep ? currentStep.step.stepOrder : '0' }} / {{ setup.getOrderedSteps|length }} {{ currentStep ? currentStep.value is not empty and stepsComplete ? 'Complete' }}
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="right floated">
                                {% if setupUpToDate %}
                                    <a class="ui mini icon labeled primary button" href="{{ path('setup_show', {'gameId': gameId, 'setupId': setup.id}) }}">
                                        <i class="setting icon"></i> Configure
                                    </a>
                                {% else %}
                                    Setup outdated, consider upgrading it! <br />
                                    <a class="ui mini icon labeled button" href="{{ path('setup_upgrade', {'gameId': gameId, 'setupId': setup.id}) }}">
                                        <i class="wizard icon"></i> Upgrade
                                    </a>
                                {% endif %}
                                <a class="ui mini icon labeled red button" href="{{ path('setup_delete', {'gameId': gameId, 'setupId': setup.id}) }}">
                                    <i class="delete icon"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% else %}
            No setups available
        {% endif %}

    {% else %}
        You need to log-in access the setup screen.
    {% endif %}

{% endblock %}
