{% twig_js name="listTeams" %}
{% set registeredAsMainDriver = null %}
{% set registeredAsSecondaryDriver = null %}
{% for team in championship.listTeams %}
    {% for mainDriver in team.listMainDrivers %}
        {% if app.user.id == mainDriver.id %}
            {% set registeredAsMainDriver = team %}
        {% endif %}
    {% endfor %}
    {% for secondaryDriver in team.listSecondaryDrivers %}
        {% if app.user.id == secondaryDriver.id %}
            {% set registeredAsSecondaryDriver = team %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="ui three column stackable doubling grid teams">
    {% for team in championship.listTeams %}

        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/img/dummy_200x200.png">
                </div>
                <div class="content">
                    <a class="header">{{ team.name }}</a>

                    <div class="meta">
                        <span class="date">This team has {{ team.listMainDrivers|length }}
                            main drivers and {{ team.listSecondaryDrivers|length }} secondary drivers.</span>
                    </div>
                    <div class="description">
                        <div class="ui two column center aligned horizontally divided stackable grid">
                            <div class="column">
                                Main drivers
                                {% for mainDriver in team.listMainDrivers %}
                                    {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : mainDriver} %}
                                {% endfor %}
                            </div>
                            <div class="column">
                                Secondary drivers
                                {% for secondaryDriver in team.listSecondaryDrivers %}
                                    {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : secondaryDriver} %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="users icon"></i>

                        <div>Main slot : {{ team.listMainDrivers|length }}
                            / {{ team.maxMainDrivers == -1 ?  'unlimited' : team.maxMainDrivers }}</div>
                        <div>Secondary slot : {{ team.listSecondaryDrivers|length }}
                            / {{ team.maxSecondaryDrivers == -1 ?  'unlimited' : team.maxSecondaryDrivers }}</div>
                    </a>
                </div>
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            {% if registeredAsMainDriver is null and registeredAsSecondaryDriver is null %}
                                {% if team.maxMainDrivers == -1 or (team.maxMainDrivers > 0 and team.listMainDrivers|length < team.maxMainDrivers) %}
                                    <a class="ui primary button teamRegistration" data-action="user register team"
                                       data-gameid="{{ team.championship.game.id }}"
                                       data-championshipid="{{ team.championship.id }}" data-teamid="{{ team.id }}"
                                       data-driverid="{{ app.user.id }}" data-drivertype="main">
                                        Register as main driver
                                    </a>
                                {% else %}
                                    {% if team.listSecondaryDrivers|length < team.maxSecondaryDrivers %}
                                        There is not more main slots available for this team, please register as secondary or choose another team.
                                        <a class="ui primary secondary button teamRegistration"
                                           data-action="user register team"
                                           data-gameid="{{ team.championship.game.id }}"
                                           data-championshipid="{{ team.championship.id }}" data-teamid="{{ team.id }}"
                                           data-driverid="{{ app.user.id }}" data-drivertype="secondary">
                                            Register as secondary driver
                                        </a>
                                    {% else %}
                                        All the main and secondary slots are taken. Please register to another team.
                                    {% endif %}
                                {% endif %}
                            {% elseif registeredAsMainDriver == team %}
                                <a class="ui red button teamRegistration" data-action="user unregister team"
                                   data-gameid="{{ team.championship.game.id }}"
                                   data-championshipid="{{ team.championship.id }}" data-teamid="{{ team.id }}"
                                   data-driverid="{{ app.user.id }}" data-drivertype="main">
                                    Unregister as main driver
                                </a>
                            {% elseif registeredAsSecondaryDriver == team %}
                                <a class="ui red button teamRegistration" data-action="user unregister team"
                                   data-gameid="{{ team.championship.game.id }}"
                                   data-championshipid="{{ team.championship.id }}" data-teamid="{{ team.id }}"
                                   data-driverid="{{ app.user.id }}" data-drivertype="secondary">
                                    Unregister as secondary driver
                                </a>
                            {% elseif registeredAsMainDriver is not null and registeredAsMainDriver != team %}
                                You are already registered as main driver in team {{ registeredAsMainDriver.name }}.
                            {% elseif registeredAsSecondaryDriver is not null and registeredAsSecondaryDriver != team %}
                                You are already registered as secondary driver in team {{ registeredAsSecondaryDriver.name }}.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
