{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %}
    {% block title %} Admin - {{ parent() }} {% endblock %}
{% block rfccore_body %}

<div class="panel panel-default">
    <div class="panel-heading">
        Tracks &nbsp;
        <a class="ym-button ym-add" href="{{ path('admin_track_new', {'gameId' : gameId}) }}">Add</a>
    </div>
    <div class="panel-body">
    	<ul class="list-group">
    		{% for track in tracks %}
    		<div class="row">
    			<div class="col-md-10">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{ track.name }}</h4>
                        <p class="list-group-item-text">{{ track.description }}</p>
                    </li>
    			</div>
    			<div class="col-md-2">
    				<ul class="list-unstyled list-inline">
    					<li><a class="btn btn-info btn-xs" role="button"
    						href="{{ path(
    		'admin_track_show', {'trackId' : track.id, 'gameId' : gameId }) }}"><span
    							class="glyphicon glyphicon-eye-open"></span></a></li>
    					<li><a class="btn btn-primary btn-xs" role="button"
    						href="{{ path('admin_track_edit', {'trackId' : track.id, 'gameId' : gameId}) }}"><span
    							class="glyphicon glyphicon-edit"></span></a></li>
    				</ul>
    			</div>
    		</div>
    		{% endfor %}
    	</ul>
    </div>
</div>
{% endblock %}
