{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Championship/globalResults.html.twig #}

{# team results only #}
{% if teamResults|length > 0 %}
    <div class="ui uiTabs secondary menu">
        <a class="item active" data-tab="teams">{% trans %}core.championship.result.teamsResults{% endtrans %}</a>
        <a class="item" data-tab="users">{% trans %}core.championship.result.driversResults{% endtrans %}</a>
    </div>

    <div class="ui tab basic segment active" data-tab="teams">

        <div class="ui center aligned three column grid">
            <div class="row">
                <div class="column">
                    {{ teamResults[1] ? teamResults[1].team.name }}
                </div>
                <div class="column">
                    <b>{{ teamResults[0] ? teamResults[0].team.name }}</b>
                </div>
                <div class="column">
                    {{ teamResults[2] ? teamResults[2].team.name }}
                </div>
            </div>
            <div class="bottom aligned row">
                <div class="column">
                    <div class="ui orange segment">
                        <br/>
                        <br/>

                        {{ teamResults[1].sum }}
                    </div>
                </div>
                <div class="column">
                    <div class="ui red segment">
                        <br/>
                        <br/>
                        <br/>

                        {{ teamResults[0].sum }}
                    </div>
                </div>
                <div class="column">
                    <div class="ui yellow segment">
                        <br/>

                        {{ teamResults[2].sum }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endif %}

{% if teamResults|length == 0 %}
    <div class="ui header">
        {% trans %}core.championship.result.driversResults{% endtrans %}
    </div>
{% endif %}

{# user results only #}
<div class="ui {{ teamResults|length > 0 ? 'tab ' }}basic segment"{{ teamResults|length > 0 ? ' data-tab="users"' }}>
    {% if userResults|length > 2 %}

        <div class="ui center aligned three column grid">
            <div class="row">
                <div class="column">
                    {{ userResults[1].user.username }}
                </div>
                <div class="column">
                    <b>{{ userResults[0].user.username }}</b>
                </div>
                <div class="column">
                    {{ userResults[2].user.username }}
                </div>
            </div>
            <div class="bottom aligned row">
                <div class="column">
                    <div class="ui orange segment">
                        <br/>
                        <br/>

                        {{ userResults[1].sum }}
                    </div>
                </div>
                <div class="column">
                    <div class="ui red segment">
                        <br/>
                        <br/>
                        <br/>

                        {{ userResults[0].sum }}
                    </div>
                </div>
                <div class="column">
                    <div class="ui yellow segment">
                        <br/>

                        {{ userResults[2].sum }}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <table class="ui small striped table">
            <thead>
            <tr>
                <th>{% trans %}core.championship.result.rank{% endtrans %}</th>
                <th>{% trans %}core.championship.result.name{% endtrans %}</th>
                <th>{% trans %}core.championship.result.points{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for userid,data in userResults %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ data.user.username }}</td>
                    <td>
                        {{ data.sum }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div class="ui center aligned grid">
    <div class="bottom aligned row">
        <div class="ui button" id="viewFullLeaderboard">
            {% trans %}core.championship.result.showLeaderboard{% endtrans %}
        </div>
    </div>
</div>

<div class="ui standard globalResults modal transition">
    <i class="close icon"></i>

    <div class="header">
        {% trans %}core.championship.result.popupGobalResults{% endtrans %}
    </div>
    <div class="content">
        <div class="description">
            {% include 'RFCCoreBundle:Championship:resultsTable.html.twig' with { 'userResults' : userResults, 'teamResults' : teamResults} %}
        </div>
    </div>
</div>