{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}


{% for championship in championships %}

    <div class="ui items">

        <div class="item">
            <div class="image">
                <img src="/images/wireframe/image.png">
                <div class="ui corner blue icon label">
                    <a href="#"><i class="setting icon"></i></a>
                </div>
            </div>
            <div class="content">

                <div class="header">
                    <a href="{{ path('rfcCore_championships_show', { 'championshipId': championship.id, 'gameId': game.id  }) }}">
                        {{ championship.name }}
                    </a>
                </div>

                <div class="meta">

                    <i class="ticket icon"></i><div class="ui horizontal label">{{ championship.championshipAgreed ? 'Agreed' : 'Non agreed' }}</div>
                    {% if championship.metaRule %}<i class="cubes icon"></i><div class="ui horizontal label">{{ championship.metaRule.name }}</div>{% endif %}

                </div>
                <div class="description">

                    {{ championship.description ? championship.description : "Aucune" }}
                    {% if championship.listEvents is empty %}
                        Aucun Event pour le moment
                    {% else %}
                        <div class="ui divided list">

                            {% for event in championship.listEvents %}
                                <div class="item">
                                    <i class="calendar outline icon"></i>
                                    <div class="content">
                                        <div class="header">{{ event.name }}</div>
                                        <div class="description">
                                            <div class="ui mini label">
                                                {{event.beginDate|date("Y/m/d H:i") }} <i class="right chevron icon"></i> {{ event.endDate|date("Y/m/d H:i") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    {% endif %}

                </div>
                <div class="extra">

                    <div class="ui horizontal list">
                        {% if championship.listManagers %}

                            {% for manager in championship.listManagers %}
                                <div class="item">
                                    <img class="ui avatar image" src="/images/avatar/small/tom.jpg">
                                    <div class="content">
                                        <a class="header">{{ manager.username }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        {% else %}
                            <div class="item">
                                <div class="content">
                                    <div class="header">Aucun organisateur(s) défini(s)</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endfor %}