{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>championshipAgreed</th>
                <th>Listevents</th>
                <th>Listmanagers</th>
                <th>Metarule</th>
                <th>Listrules</th>
            </tr>
        </thead>
        <tbody>
            {% for championship in championships %}
                <tr>
                    <td><a href="{{ path('rfcCore_championships_show', { 'championshipId': championship.id, 'gameId': game.id  }) }}">{{ championship.name }}</a></td>
                    <td>{{ championship.description }}</td>
                    <td>{{ championship.championshipAgreed }}</td>
                    <td>{% if championship.listEvents is empty %} Aucun Event
                        pour le moment {% else %}
                        <ul class="list-unstyled">
                            {% for event in championship.listEvents %}
                                <li>{{ event.name }}
                                    <div>
                                        <small><span class="label label-primary">{{
										event.beginDate|date("Y/m/d H:i") }}</span> > <span
                                                class="label label-primary">{{ event.endDate|date("Y/m/d H:i")
                                                }}</span></small>
                                    </div>
                                </li> {% endfor %}
                            </ul> {% endif %}
                        </td>
                        <td><ul>
                                {% for manager in championship.listManagers %}
                                    <li>{{ manager.username }}</li> {% endfor %}
                                </ul></td>
                            <td>{{ championship.metaRule }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% if championship.championshipAgreed %} {% for rule in
						championship.metaRule.listRules %}
                                        <li>{{ rule.name }}</li> {% endfor %} {% else %} {% for rule in
						championship.listRules %}
                                        <li>{{ rule.name }}</li> {% endfor %} {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>