{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% if app.user and not championship.isDraft %}

    {% set inProgressBeforeEnd = championship.registrationInProgress and championship.endDate|date("Y/m/d H:i") > "now"|date("Y/m/d H:i") %}
    {% set notInProgressBeforeBegin = not championship.registrationInProgress and championship.beginDate|date("Y/m/d H:i") > "now"|date("Y/m/d H:i") %}

    {% if inProgressBeforeEnd or notInProgressBeforeBegin %}

        {% if status == '' %}
            {% if app.user.username in championship.listUsers %}
                <span class="info">{% trans %}core.championship.registration.alreadyRegistered{% endtrans %}</span><br/>
                <a id="action_unregister;game_{{ gameId }};championship_{{ championship.id }};user_{{ app.user.id }}"
                   class="ui icon labeled button actionRegisterUnregister">
                    <i class="sign out icon"></i>
                    {% trans %}core.action.unregister{% endtrans %}
                </a>
            {% else %}
                <span class="info">{% trans %}core.championship.registration.notRegistered{% endtrans %}</span><br/>
                <a id="action_register;game_{{ gameId }};championship_{{ championship.id }};user_{{ app.user.id }}"
                   class="ui icon labeled button actionRegisterUnregister">
                    <i class="sign in icon"></i>
                    {% trans %}core.action.register{% endtrans %}
                </a>
            {% endif %}
        {% else %}
            {% if status == 'register' %}
                <span class="info">{% trans %}core.championship.registration.alreadyRegistered{% endtrans %}</span><br/>
                <a id="action_unregister;game_{{ gameId }};championship_{{ championship.id }};user_{{ app.user.id }}"
                   class="ui icon labeled button actionRegisterUnregister">
                    <i class="sign out icon"></i>
                    {% trans %}core.action.unregister{% endtrans %}
                </a>
            {% elseif status == 'unregister' %}
                <span class="info">{% trans %}core.championship.registration.notRegistered{% endtrans %}</span><br/>
                <a id="action_register;game_{{ gameId }};championship_{{ championship.id }};user_{{ app.user.id }}"
                   class="ui icon labeled button actionRegisterUnregister">
                    <i class="sign in icon"></i>
                    {% trans %}core.action.register{% endtrans %}
                </a>
            {% endif %}
        {% endif %}

    {% else %}
        {% if championship.registrationInProgress and championship.endDate|date("Y/m/d H:i") < "now"|date("Y/m/d H:i") %}
            {% trans %}core.championship.registration.championshipEnded{% endtrans %}
        {% elseif not championship.registrationInProgress and championship.beginDate|date("Y/m/d H:i") < "now"|date("Y/m/d H:i") %}
            {% trans %}core.championship.registration.championshipStarted{% endtrans %}
        {% endif %}
    {% endif %}

{% else %}

    <div class="ui inverted red segment">{% trans %}core.championship.registration.notLogged{% endtrans %}</div>

{% endif %}