{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% if app.user %}

    {% if entity.registrationInProgress %}

        {% if status == '' %}
            {% if app.user.username in entity.listUsers %}
                <span class="info">Vous êtes déjà inscrit à ce championnat</span><br />
                <a id="action_unregister;game_{{ gameId }};championship_{{ entity.id }};user_{{ app.user.id }}" class="ui icon labeled button actionRegisterUnregister">
                    <i class="sign out icon"></i>
                    Se désinscrire
                </a>
            {% else %}
                <span class="info">Vous n'êtes pas inscrit à ce championnat</span><br />
                <a id="action_register;game_{{ gameId }};championship_{{ entity.id }};user_{{ app.user.id }}" class="ui icon labeled button actionRegisterUnregister">
                    <i class="sign in icon"></i>
                    S'inscrire
                </a>
            {% endif %}
        {% else %}
            {% if status == 'register' %}
                <span class="info">Vous êtes déjà inscrit à ce championnat</span><br />
                <a id="action_unregister;game_{{ gameId }};championship_{{ entity.id }};user_{{ app.user.id }}" class="ui icon labeled button actionRegisterUnregister">
                    <i class="sign out icon"></i>
                    Se désinscrire
                </a>
            {% elseif status == 'unregister' %}
                <span class="info">Vous n'êtes pas inscrit à ce championnat</span><br />
                <a id="action_register;game_{{ gameId }};championship_{{ entity.id }};user_{{ app.user.id }}" class="ui icon labeled button actionRegisterUnregister">
                    <i class="sign in icon"></i>
                    S'inscrire
                </a>
            {% endif %}
        {% endif %}
        <br />

    {% else %}

        You are not allowed to register as the championship as already begun.

    {% endif %}
{% endif %}