{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Championship/show.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    {% set canEdit = (is_granted('ROLE_MANAGER') and championship.isManager(app.user.id)) or is_granted('ROLE_CERTIFIED_MANAGER') %}

    <div class="ui three column grid">

        <div class="equal height row">

            <div class="column">
                {% include 'RFCCoreBundle:Championship:championshipInfo.html.twig' with {'championship' : championship} %}
            </div>
            <div class="column">

                <div class="ui header">
                    {% trans with { '%participantCount%' : championship.listUsers|length} %}core.championship.participants.title{% endtrans %}
                </div>

                {% if championship.listUsers|length > 4 and championship.listUsers|length < 8 %}

                    {% include 'RFCCoreBundle:Championship:driversTwoColumnsList.html.twig' with {'listDrivers' : championship.listUsers|slice(0,8)} %}

                {% elseif championship.listUsers|length <= 4%}

                    <div class="ui grid">
                        <div class="column">
                            <div class="ui mini list">

                                {% for participant in championship.listUsers %}

                                    {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : participant} %}

                                {% endfor %}

                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="ui basic center aligned segment">
                        <p>{% trans %}core.championship.participants.tooMuch{% endtrans %}</p>
                        <a id="viewFullDriverList" href="#" class="ui button">{% trans %}core.championship.participants.showFullList{% endtrans %}</a>
                    </div>

                    <div class="ui standard driverList modal transition">
                        <i class="close icon"></i>
                        <div class="header">
                            {% trans %}core.championship.participants.popupParticipant{% endtrans %}
                        </div>
                        <div class="content">
                            <div class="description">
                                {% include 'RFCCoreBundle:Championship:driversTwoColumnsList.html.twig' with {'listDrivers' : championship.listUsers} %}
                            </div>
                        </div>
                    </div>

                {% endif %}

                <div id="registrationStatus" class="ui basic segment">
                    {% include 'RFCCoreBundle:Championship:registration.html.twig' with {'gameId' : appSettings.getGame().id, 'championship' : championship, 'status' : ''} %}
                </div>

            </div>
            <div class="column">

                <div class="ui header">
                    {% trans %}core.championship.result.title{% endtrans %}
                </div>
                <div id="globalResults"></div>

            </div>

        </div>
    </div>

    <div class="ui small progress" id='championshipProgessbar' data-begindate="{{ championship.getBeginDate|date("Y/m/d H:i:s") }}" data-enddate="{{ championship.getEndDate|date("Y/m/d H:i:s") }}">
        <div class="bar">
            <div class="progress"></div>
        </div>
        <div class="label">{% trans %}core.championship.progress.title{% endtrans %}</div>
    </div>

    <div class="ui three column grid">
        <div class="column">
            <div class="ui horizontal segment">
                <h3>{% trans %}core.championship.progress.previousTitle{% endtrans %}</h3>
                {% if championship.getPreviousSession %}
                    <div class="ui mini label">
                        {{ championship.getPreviousSession.event.name }} : {{ championship.getPreviousSession }}&nbsp;&nbsp;
                        <i class="wait icon"></i>
                        {{ championship.getPreviousSession.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                        <i class="chevron right icon"></i>
                        {{ championship.getPreviousSession.endDate|date("Y/m/d H:i") }}
                    </div>
                {% else %}
                    {% trans %}core.championship.progress.previousNoSession{% endtrans %}
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="ui horizontal segment">
                <h3>{% trans %}core.championship.progress.currentTitle{% endtrans %}</h3>
                {% if championship.getCurrentSession %}
                    <div class="ui mini label">
                        {{ championship.getCurrentSession.event.name }} : {{ championship.getCurrentSession }}&nbsp;&nbsp;
                        <i class="wait icon"></i>
                        {{ championship.getCurrentSession.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                        <i class="chevron right icon"></i>
                        {{ championship.getCurrentSession.endDate|date("Y/m/d H:i") }}
                    </div>
                {% else %}
                    {% trans %}core.championship.progress.currentNoSession{% endtrans %}
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="ui horizontal segment">
                <h3>{% trans %}core.championship.progress.nextTitle{% endtrans %}</h3>
                {% if championship.getNextSession %}
                    <div class="ui mini label">
                        {{ championship.getNextSession.event.name }} : {{ championship.getNextSession }}&nbsp;&nbsp;
                        <i class="wait icon"></i>
                        {{ championship.getNextSession.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                        <i class="chevron right icon"></i>
                        {{ championship.getNextSession.endDate|date("Y/m/d H:i") }}
                    </div>
                {% else %}
                    {% trans %}core.championship.progress.nextNoSession{% endtrans %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui stackable grid">
        <div class="five wide column">
            <div class="ui basic segment">
                {# Colonne 1 : Events #}
                <h3>
                    {% transchoice championship.listEvents|length %}core.championship.event.title{% endtranschoice %}
                    {% if canEdit %}
                        <a class="ui mini teal icon labeled button" href="{{ path('admin_event_new', { 'gameId': appSettings.getGame().id, 'championshipId' : championship.id }) }}">
                            <i class="add icon"></i>{% trans %}core.action.add{% endtrans %}
                        </a>
                    {% endif %}
                </h3>
                {% if championship.listEvents is empty %}
                    {% trans %}core.championship.event.noEvents{% endtrans %}
                {% else %}

                    <div class="ui middle aligned grid" id="championshipEvents">
                        <div class="row">
                            <div class="two wide column">
                                <a class="previousEvent">
                                    <i class="huge left chevron icon"></i>
                                </a>
                            </div>

                            <div class="twelve wide column">
                                {% for event in championship.listEvents %}

                                    <div class="ui card eventItem" data-eventid="{{ event.id }}" data-eventkey="{{ loop.index }}" data-gameid="{{ appSettings.getGame().id }}" data-championshipid="{{ championship.id }}">

                                        {% if canEdit %}
                                            <div class="ui corner red label">
                                                <a href="{{ path('admin_event_edit', { 'eventId': event.id, 'gameId': appSettings.getGame().id, 'championshipId': championship.id}) }}">
                                                    <i class="edit icon"></i>
                                                </a>
                                            </div>
                                        {% endif %}

                                        <div class="ui small progress" data-begindate="{{ event.beginDate|date("Y/m/d H:i:s") }}" data-enddate="{{ event.endDate|date("Y/m/d H:i:s") }}">
                                            <div class="bar">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <img src="/images/wireframe/image.png">
                                        </div>
                                        <div class="content">
                                            <div class="header">
                                                {{ event.name }}
                                            </div>
                                            <div class="meta">
                                                <div class="ui mini label">
                                                    <i class="wait icon"></i>
                                                    {{ event.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                                                    <i class="chevron right icon"></i>
                                                    {{ event.endDate|date("Y/m/d H:i") }}
                                                </div>
                                            </div>
                                            <div class="description">
                                                {{ event.description }}<br />
                                                <span>
                                                    {% trans with { '%category%' : event.category ?: 'core.championship.event.description.notDefined'|trans } %}core.championship.event.description.category{% endtrans %}<br />
                                                    {% trans with { '%vehicle%' : event.vehicle ?: 'core.championship.event.description.notDefined'|trans } %}core.championship.event.description.vehicle{% endtrans %}<br />
                                                    {% trans with { '%track%' : event.track ?: 'core.championship.event.description.notDefined'|trans } %}core.championship.event.description.track{% endtrans %}
                                                    {% if event.listBroadcast is not empty %}
                                                        <br />{% trans %}core.championship.event.description.broadcast{% endtrans %}
                                                        {% for broadcast in event.listBroadcast %}
                                                            {{ broadcast }}
                                                        {% endfor %}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                        <a class="ui bottom attached green button showEventResults" href="#event_{{ event.id }}_results">
                                            <i class="unhide icon"></i> {% trans %}core.championship.event.showResults{% endtrans %}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="two wide column">
                                <a class="nextEvent">
                                    <i class="huge right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui basic segment">
                <h3>
                    {% trans %}core.championship.event.session{% endtrans %}
                    <a id="sessionAddButton" class="ui mini teal icon labeled button" href="#">
                        <i class="add icon"></i>{% trans %}core.action.add{% endtrans %}
                    </a>
                </h3>
                {# Colonne 2 : Sessions #}
                <ul class="list-group" id="listSessions"></ul>
            </div>
        </div>
    </div>

    <div id="session"></div>

    {# Event results modal window #}
    {% for event in championship.listEvents %}
        <div class="ui standard eventResults modal transition" data-eventid="{{ event.id }}">
            <i class="close icon"></i>
            <div class="header">
                {% trans %}core.championship.result.popupEventResults{% endtrans %} {{ event.name }}
            </div>
            <div class="content">
                <div class="description"></div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
