{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/gameIndex.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

<div class="row">
	<h1>{{ entity.name }}</h1>

	<dl class="dl-horizontal">
		<dt>Description</dt>
		<dd>
			{% if entity.description %}{{ entity.description }}{% else %}<i>Aucune
				description</i>{% endif %}
		</dd>
		<dt>Championnat Agrée?</dt>
		<dd>{% if entity.isAgreed %}True{% else %}False{% endif %}</dd>
		<dt>MetaRule</dt>
		<dd>
			{% if entity.metaRule %}{{ entity.metaRule.name }}{% else %}<i>Aucune
				metaRule</i>{% endif %}
		</dd>
		<dt>Organisateurs</dt>
		<dd>
			{% if entity.metaRule %}
    			<ul>
    				{% for manager in entity.listManagers %}
    				<li>{{ manager.username }}</li> {% endfor %}
    			</ul>
			{% else %}
                <i>Aucun organisateur(s) défini(s)</i>
            {% endif %}
		</dd>
	</dl>
</div>

<div id="globalResults"></div>

<hr />

<div class="ym-grid">
	<div class="ym-g50 ym-gl">
        <div class="ym-gbox">
            <h3>
				Previous Session
			</h3>
		</div>
	</div>
	<div class="ym-g50 ym-gr">
        <div class="ym-gbox">
            <h3>
				Incoming Session
			</h3>
		</div>
	</div>
</div>

<hr />

<div class="ym-grid">
    <div class="ym-g38 ym-gl">
        <div class="ym-gbox">
            <h3>
				Events
			</h3>
			{% if entity.listEvents is empty %}
                Aucun Event n'est présent. Il faut en créer.
            {% else %}
                <ul>{% for event in entity.listEvents %}</ul>
    			<div class="row">
    				{# Colonne 1 : Events #}
                    
                    <section class="slide-up-boxes slide-up-boxes-blue">
                        <a id="event_{{ event.id }};game_{{ game.id }};championship_{{ entity.id }}"
    					href="#event_{{ event.id }}" class="eventItem">
                            <h5>
                                {{ event.name }}
                                <small>
                                  <span class="label label-primary">{{ event.beginDate|date("Y/m/d H:i") }}</span>
                                  > 
                                  <span class="label label-primary">{{ event.endDate|date("Y/m/d H:i") }}</span>
                                </small>
                            </h5>
    					
                            <div>
                               <small><i>{{ event.description }}</i></small><br />
                                <span>
                                    Category : {% if event.category %}{{ event.category }}{% else %}Not defined{% endif %}<br />
                                    Vehicle : {% if event.vehicle %}{{ event.vehicle }}{% else %}Not defined{% endif %}<br />
                                    Track : {% if event.track %}{{ event.track }}{% else %}Not defined{% endif %}
                                    {% if event.listBroadcast is not empty %}
                                        <br />Broadcast : {% for broadcast in event.listBroadcast %} {{ broadcast }} {% endfor %}
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </section>
    			</div>
    			{% endfor %}
            {% endif %}
            </div>
        </div>
    <div class="ym-g62 ym-gr">
        <div class="ym-gbox">
    		<h3>Sessions</h3>
    		{# Colonne 2 : Sessions #}
    		<ul class="list-group" id="listSessions"></ul>
        </div>
    </div>
</div>

<div id="session"></div>

<hr />

<div>
	<h3>
		Rules
	</h3>
	<div class="list-group">
		{% if entity.isAgreed %}
		  {% set rules = entity.metaRule.listRules %}
		{% else %}
		  {% set rules = entity.listRules %}
		{% endif %}
		{% include 'RFCAdminBundle:Rule:list.html.twig' with {'rules' : rules, 'game' : game} %}
	</div>
</div>

<div>
    <h3>
        Participants
    </h3>
    
    <div id="registrationStatus">
        {% include 'RFCCoreBundle:Championship:registration.html.twig' with {'gameId' : game.id, 'championshipId' : entity.id, 'status' : ''} %}
    </div>
</div>

{% endblock %}
