{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/gameIndex.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

<div class="row">
	<h1>{{ entity.name }}</h1>

	<dl class="dl-horizontal">
		<dt>Description</dt>
		<dd>
			{% if entity.description %}{{ entity.description }}{% else %}<i>Aucune
				description</i>{% endif %}
		</dd>
		<dt>Championnat Agrée?</dt>
		<dd>{% if entity.isAgreed %}True{% else %}False{% endif %}</dd>
		<dt>MetaRule</dt>
		<dd>
			{% if entity.metaRule %}{{ entity.metaRule.name }}{% else %}<i>Aucune
				metaRule</i>{% endif %}
		</dd>
		<dt>Organisateurs</dt>
		<dd>
			{% if entity.metaRule %}
			<ul>
				{% for manager in entity.listManagers %}
				<li>{{ manager.username }}</li> {% endfor %}
			</ul>
			{% else %}<i>Aucun organisateur(s) défini(s)</i>{% endif %}
		</dd>
	</dl>
</div>
<hr />
<div class="row">
	{# Liste les événements et les sessions #}
	<div class="col-md-5">
		<div class="list-group">
			<h3>
				Events
			</h3>
			{% if entity.listEvents is empty %} Aucun Event n'est présent. Il
			faut en créer. {% else %}
			<ul>{% for event in entity.listEvents %}
			</ul>
			<div class="row">
				{# Colonne 1 : Events #}
				<a
					id="event_{{ event.id }};game_{{ game.id }};championship_{{ entity.id }}"
					href="#event_{{ event.id }}" class="eventItem list-group-item">
					   <h4 class="list-group-item-heading">
					       {{ event.name }}
					       
    					<span>
    						<small>
    						  <span class="label label-primary">{{ event.beginDate|date("Y/m/d H:i") }}</span>
    						   > 
    						  <span class="label label-primary">{{ event.endDate|date("Y/m/d H:i") }}</span>
    						</small>
    					</span>
					   </h4>
					
					<p class="list-group-item-text">
					
					   <div><small><i>{{ event.description }}</i></small></div>
					   <span data-toggle="tooltip" data-placement="bottom" title="Rules">
    			           <span class="glyphicon glyphicon-info-sign"></span>
    			           Category : {% if event.category %}{{ event.category }}{% else %}Not defined{% endif %}<br />
    			           Vehicle : {% if event.vehicle %}{{ event.vehicle }}{% else %}Not defined{% endif %}<br />
    			           Track : {% if event.track %}{{ event.track }}{% else %}Not defined{% endif %}
    			           {% if event.listBroadcast is not empty %}
    			             Broadcast : {% for broadcast in event.listBroadcast %} {{ broadcast }} {% endfor %}
    			           {% endif %}
			         </span>
				    </p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-7">
		<h3>Sessions</h3>
		{# Colonne 2 : Sessions #}
		<ul class="list-group" id="listSessions">
		</ul>
	</div>
	{% endif %}
</div>
<hr />
<div>
	<h1>
		Rules
	</h1>
	<div class="list-group">
		{% if entity.isAgreed %}
		  {% set rules = entity.metaRule.listRules %}
		{% else %}
		  {% set rules = entity.listRules %}
		{% endif %}
		{% include 'RFCAdminBundle:Rule:list.html.twig' with {'rules' : rules, 'game' : game} %}
	</div>
</div>

<div>
    <h1>
        Participants
    </h1>
    
    <div id="registrationStatus">
        {% include 'RFCCoreBundle:Championship:registration.html.twig' with {'gameId' : game.id, 'championshipId' : entity.id, 'status' : ''} %}
    </div>
</div>

{% endblock %}
