{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/gameIndex.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    {% set canEdit = (is_granted('ROLE_MANAGER') and entity.isManager(app.user.id)) or is_granted('ROLE_CERTIFIED_MANAGER') %}

    <div class="ui items">
        <div class="item">
            <div class="image">
                <img src="/images/wireframe/image.png">
            </div>
            <div class="content">
                <div class="header">{{ entity.name }}</div>
                <div class="meta">
                    <i class="ticket icon"></i><div class="ui horizontal label">{{ entity.championshipAgreed ? 'Agreed' : 'Non agreed' }}</div>
                    {% if entity.metaRule %}<i class="cubes icon"></i><div class="ui horizontal label">{{ entity.metaRule.name }}</div>{% endif %}
                </div>
                <div class="description">
                    {{ entity.description ? entity.description : "Aucune" }}
                </div>
                <div class="extra">
                    {% if entity.listManagers %}
                        <ul>
                            {% for manager in entity.listManagers %}
                                <li>{{ manager.username }}</li>
                                {% endfor %}
                        </ul>
                    {% else %}
                        Aucun organisateur(s) défini(s)
                    {% endif %}
                    <div class="ui right floated red button"><i class="setting icon"></i>Configure</div>
                </div>
            </div>
        </div>
    </div>

    <div id="globalResults"></div>

    <div class="ui divider"></div>

    <div class="ui two column grid">
        <div class="column">
            <div class="ui horizontal segment">
                <h3>Previous Session</h3>
            </div>
        </div>
        <div class="column">
            <div class="ui horizontal segment">
                <h3>Incoming Session</h3>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="five wide column">
            <div class="ui horizontal segment">
                {# Colonne 1 : Events #}
                <h3>
                    Events
                </h3>
                {% if entity.listEvents is empty %}
                    Aucun Event n'est présent. Il faut en créer.
                {% else %}

                    <div class="ui vertical ordered steps">
                        {% for event in entity.listEvents %}
                            <div class="eventItem" data-eventid="{{event.id}}" data-gameid="{{ game.id }}" data-championshipid="{{entity.id}}">
                                <div class="ui mini label">
                                    <i class="wait icon"></i>
                                    {{ event.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                                    <i class="chevron right icon"></i>
                                    {{ event.endDate|date("Y/m/d H:i") }}
                                </div>
                                <a class="step">
                                    <div class="content">
                                        <div class="title stepItem">{{ event.name }}</div>
                                        <div class="description">
                                            {{ event.description }}<br />
                                            <span>
                                                Category : {{ event.category ? event.category : "Not defined" }}<br />
                                                Vehicle : {{ event.vehicle ? event.vehicle :"Not defined" }}<br />
                                                Track : {{ event.track ? event.track :"Not defined"}}
                                                {% if event.listBroadcast is not empty %}
                                                    <br />Broadcast :
                                                    {% for broadcast in event.listBroadcast %}
                                                        {{ broadcast }}
                                                    {% endfor %}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui horizontal segment">
                <h3>Sessions</h3>
                {# Colonne 2 : Sessions #}
                <ul class="list-group" id="listSessions"></ul>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div id="session"></div>

    <div class="ui divider"></div>

    <div>
        <h3>
            Rules
        </h3>
        <div class="list-group">
            {% if entity.championshipAgreed %}
                {% set rules = entity.metaRule.listRules %}
            {% else %}
                {% set rules = entity.listRules %}
            {% endif %}
            {% include 'RFCAdminBundle:Rule:list.html.twig' with {'rules' : rules, 'game' : game} %}
        </div>
    </div>

    <div class="ui divider"></div>

    <div>
        <h3>
            Participants
        </h3>

        <div id="registrationStatus">
            {% include 'RFCCoreBundle:Championship:registration.html.twig' with {'gameId' : game.id, 'championshipId' : entity.id, 'status' : ''} %}
        </div>
    </div>

{% endblock %}
