{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Championship/show.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    {% set canEdit = (is_granted('ROLE_MANAGER') and entity.isManager(app.user.id)) or is_granted('ROLE_CERTIFIED_MANAGER') %}

    <div class="ui three column grid">

        <div class="equal height row">

            <div class="column">
                <div class="ui items">
                    <div class="item">

                        <div class="image">
                            <img src="/images/wireframe/image.png">
                            {% if canEdit %}
                                <div class="ui corner blue icon label">
                                    <a href="{{ path('admin_championship_edit', {'gameId': game.id, 'championshipId': entity.id}) }}"><i class="setting icon"></i></a>
                                </div>
                            {% endif %}
                        </div>

                        <div class="content">

                            <div class="header">{{ entity.name }}</div>

                            <div class="meta">
                                <div class="ui horizontal icon label">
                                    <i class="ticket icon"></i>
                                    {{ entity.championshipAgreed ? 'Agreed' : 'Non agreed' }}
                                </div>

                                <div class="ui horizontal icon label popupLabel">
                                    <i class="cubes icon"></i>
                                    {% if entity.championshipAgreed %}
                                        {{ entity.metaRule.name }}
                                        {% if canEdit %}
                                            <a class="detail" href="{{ path('admin_metaRule_edit', {'gameId' : game.id, 'metaRuleId' : entity.metaRule.id }) }}">
                                                <i class="edit icon"></i> Edit
                                            </a>
                                        {% endif %}
                                        {% set rules = entity.metaRule.listRules %}
                                    {% else %}
                                        Rules
                                        {% set rules = entity.listRules %}
                                    {% endif %}
                                </div>

                                <div class="ui flowing popup">
                                    {% include 'RFCAdminBundle:Rule:list.html.twig' with {'rules' : rules, 'game' : game} %}
                                </div>
                            </div>

                            <div class="description">
                                <div class="ui horizontal divider">Description</div>
                                {{ entity.description ? entity.description : "Aucune" }}
                            </div>

                            <div class="extra">

                                <div class="ui horizontal list">
                                    {% if entity.listManagers %}
                                        <div class="ui horizontal divider">Manager(s)</div>
                                        {% for manager in entity.listManagers %}
                                            <div class="item">
                                                <img class="ui avatar image" src="{{ manager.avatarUrl }}">
                                                <div class="content">
                                                    <a class="header" href="{{ path('rfcCore_members_show', {'gameId': game.id, 'userId': manager.id}) }}">
                                                        {{ manager.username }}
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="item">
                                            <div class="content">
                                                <div class="header">No manager(s)</div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">

                <div class="ui header">
                    ({{entity.listUsers|length}}) Drivers registered
                </div>

                {% if entity.listUsers|length > 4 and entity.listUsers|length < 8 %}

                    {% include 'RFCCoreBundle:Championship:driversTwoColumnsList.html.twig' with {'listDrivers' : entity.listUsers|slice(0,8)} %}

                {% elseif entity.listUsers|length <= 4%}

                    <div class="ui grid">
                        <div class="column">
                            <div class="ui mini list">

                                {% for participant in entity.listUsers %}

                                    <div class="item">
                                        <img class="ui avatar image" src="{{ participant.avatarUrl }}">
                                        <div class="content">
                                            <a class="header" href="{{ path('rfcCore_members_show', {'gameId': game.id, 'userId': participant.id}) }}">
                                                {{ participant.username }}
                                            </a>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="ui basic center aligned segment">
                        <p>Too much drivers to show.</p>
                        <a id="viewFullDriverList" href="#" class="ui button">View full driver list</a>
                    </div>

                    <div class="ui standard driverList modal transition">
                        <i class="close icon"></i>
                        <div class="header">
                            Full driver list
                        </div>
                        <div class="content">
                            <div class="description">
                                {% include 'RFCCoreBundle:Championship:driversTwoColumnsList.html.twig' with {'listDrivers' : entity.listUsers} %}
                            </div>
                        </div>
                    </div>

                {% endif %}

                <div id="registrationStatus" class="ui basic segment">
                    {% include 'RFCCoreBundle:Championship:registration.html.twig' with {'gameId' : game.id, 'championshipId' : entity.id, 'status' : ''} %}
                </div>

            </div>
            <div class="column">

                <div class="ui header">
                    Results
                </div>
                <div id="globalResults"></div>

            </div>

        </div>
    </div>

    <div class="ui three column grid">
        <div class="column">
            <div class="ui horizontal segment">
                <h3>Previous Session</h3>
                {% if entity.getPreviousSession %}
                    <div class="ui mini label">
                        {{ entity.getPreviousSession.event.name }} : {{ entity.getPreviousSession }}&nbsp;&nbsp;
                        <i class="wait icon"></i>
                        {{ entity.getPreviousSession.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                        <i class="chevron right icon"></i>
                        {{ entity.getPreviousSession.endDate|date("Y/m/d H:i") }}
                    </div>
                {% else %}
                    No previous session
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="ui horizontal segment">
                <h3>Current Session</h3>
                {% if entity.getCurrentSession %}
                    <div class="ui mini label">
                        {{ entity.getCurrentSession.event.name }} : {{ entity.getCurrentSession }}&nbsp;&nbsp;
                        <i class="wait icon"></i>
                        {{ entity.getCurrentSession.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                        <i class="chevron right icon"></i>
                        {{ entity.getCurrentSession.endDate|date("Y/m/d H:i") }}
                    </div>
                {% else %}
                    No current session
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="ui horizontal segment">
                <h3>Incoming Session</h3>
                {% if entity.getNextSession %}
                    <div class="ui mini label">
                        {{ entity.getNextSession.event.name }} : {{ entity.getNextSession }}&nbsp;&nbsp;
                        <i class="wait icon"></i>
                        {{ entity.getNextSession.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                        <i class="chevron right icon"></i>
                        {{ entity.getNextSession.endDate|date("Y/m/d H:i") }}
                    </div>
                {% else %}
                    No incoming session
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="five wide column">
            <div class="ui basic segment">
                {# Colonne 1 : Events #}
                <h3>
                    Events
                    {% if canEdit %}
                        <a class="ui mini teal icon labeled button" href="{{ path('admin_event_new', { 'gameId': game.id, 'championshipId' : entity.id }) }}">
                            <i class="add icon"></i>Add
                        </a>
                    {% endif %}
                </h3>
                {% if entity.listEvents is empty %}
                    Aucun Event n'est présent. Il faut en créer.
                {% else %}

                    <div class="ui middle aligned grid" id="championshipEvents">
                        <div class="row">
                            <div class="three wide column">
                                <a class="previousEvent"><i class="huge left chevron icon"></i></a>
                            </div>

                            <div class="ten wide column">
                                {% for event in entity.listEvents %}

                                    <div class="ui card eventItem" data-eventid="{{ event.id }}" data-eventkey="{{ loop.index }}" data-gameid="{{ game.id }}" data-championshipid="{{ entity.id }}">
                                        <div class="image">
                                            {% if canEdit %}
                                                <a class="ui corner red label" href="{{ path('admin_event_edit', { 'eventId': event.id, 'gameId': game.id, 'championshipId': entity.id}) }}">
                                                    <i class="edit icon"></i>
                                                </a>
                                            {% endif %}
                                            <img src="/images/wireframe/image.png">
                                        </div>
                                        <div class="content">
                                            <div class="header">
                                                {{ event.name }}
                                            </div>
                                            <div class="meta">
                                                Meta
                                            </div>
                                            <div class="description">
                                                {{ event.description }}<br />
                                                <span>
                                                    Category : {{ event.category ? event.category : "Not defined" }}<br />
                                                    Vehicle : {{ event.vehicle ? event.vehicle : "Not defined" }}<br />
                                                    Track : {{ event.track ? event.track : "Not defined" }}
                                                    {% if event.listBroadcast is not empty %}
                                                        <br />Broadcast :
                                                        {% for broadcast in event.listBroadcast %}
                                                            {{ broadcast }}
                                                        {% endfor %}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <div class="ui mini label">
                                                <i class="wait icon"></i>
                                                {{ event.beginDate|date("Y/m/d H:i") }}&nbsp;&nbsp;
                                                <i class="chevron right icon"></i>
                                                {{ event.endDate|date("Y/m/d H:i") }}
                                            </div>
                                        </div>
                                        <a class="ui bottom attached green button showEventResults" href="#event_{{ event.id }}_results">
                                            <i class="unhide icon"></i> Show results
                                        </a>
                                    </div>

                                {% endfor %}
                            </div>

                            <div class="three wide column">
                                <a class="nextEvent"><i class="huge right chevron icon"></i></a>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui basic segment">
                <h3>
                    Sessions
                    <a id="sessionAddButton" class="ui mini teal icon labeled button" href="#">
                        <i class="add icon"></i>Add
                    </a>
                </h3>
                {# Colonne 2 : Sessions #}
                <ul class="list-group" id="listSessions"></ul>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div id="session"></div>

    {# Event results modal window #}
    {% for event in entity.listEvents %}
        <div class="ui standard eventResults modal transition" data-eventid="{{ event.id }}">
            <i class="close icon"></i>
            <div class="header">
                Results for event : {{ event.name }}
            </div>
            <div class="content">
                <div class="description"></div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
