{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCCoreBundle::layout.html.twig" %}
{% block title %} Admin - {{ parent() }}{% endblock %}

{% block rfccore_body %}
<div>
    <div>
        Meta rules &nbsp;
        <a class="ym-button ym-add" href="{{ path('admin_metaRule_new', {'gameId' : gameId}) }}">Add</a>
    </div>
    
	<div class="ym-grid">
	  <div class="ym-g33 ym-gl">
	    <div class="ym-gbox">
			{% for metaRule in metaRules %}
		    	<div>
			    	<div id="metaRule_{{ metaRule.id }};game_{{ game.id }}" class="metaRuleItem list-group-item active">
						<h4 class="list-group-item-heading">{{ metaRule.name }}</h4>
						<p class="list-group-item-text">{{ metaRule.description }}</p>
						<div class="editZone">
							<a href="{{ path('admin_metaRule_edit', {'metaRuleId' : metaRule.id, 'gameId' : gameId}) }}">Edit</a>
						</div>
			        </div>
			    	<ul class="list-unstyled">
				    	<li><a class="ym-button" href="{{ path('admin_metaRule_show', {'metaRuleId' : metaRule.id, 'gameId' : gameId }) }}">show</a></li>
				    	<li><a class="ym-button" href="{{ path('admin_metaRule_edit', {'metaRuleId' : metaRule.id, 'gameId' : gameId}) }}">edit</a></li>
			    	</ul>
		        </div>
			{% endfor %}
	    </div>
	  </div>
	  <div class="ym-g66 ym-gr">
	    <div class="ym-gbox">
			<div id="listRules">
	             {# Colonne 2 : Rules #}
	             {% include 'RFCAdminBundle:Rule:list.html.twig' with {'rules' : rules, 'game' : game, 'metaRuleId' : null} %}
	        </div>
	    </div>
	  </div>
	</div>
</div>
<hr />
<div>
    <div>
        List all rules &nbsp;
        <a class="ym-button ym-add" href="{{ path('admin_rule_new', {'gameId' : gameId}) }}">Add</a>
    </div>
    <div>
    	{% include 'RFCAdminBundle:Rule:list.html.twig' with {'rules' : rules, 'game' : game} %}
    </div>
</div>
{% endblock %}
