{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "::layout_admin.html.twig" %}

{% block header %}

    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            | <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">
                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
    </div>
    {% if game is defined %}
        <div>
            {% include 'RFCAdminBundle::Structure/header.html.twig' %}
        </div>
    {% endif %}

{% endblock %}
{% block breadcrumbs %}

    {% include 'RFCAdminBundle::Structure/breadcrumbs.html.twig' %}

{% endblock %}
{% block main %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="box {{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <div class="ym-grid linearize-level-1">
        <div class="ym-g25 ym-gl">
            <div class="ym-gbox">
                <nav class="ym-vlist">
                    {% include 'RFCAdminBundle::Structure/menu.html.twig' %}
                </nav>
            </div>
        </div>
        <div class="ym-g75 ym-gr">
            <div class="ym-gbox">
                {% block rfccore_body %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}

    {% include 'RFCCoreBundle::Structure/footer.html.twig' %}

{% endblock %}