{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/SetupBundle/Resources/views/SetupStep/edit.html.twig #}

<h5 class="ui top attached header">
    Version {{ entity.version }}
</h5>
<div class="ui attached segment">

    {{ form_start(edit_form) }}
    Date : {{ entity.createdAt|date("Y/m/d H:i") }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.value) }}
    {{ form_row(edit_form.subStep) }}

    <h5 class="ui top attached header">
        SubStep
    </h5>

    {% for subStep in subSteps %}
        <div class="subStepInfo" data-substepid="{{ subStep.id }}">
            <div class="ui stacked attached segment">
                {% include 'RFCSetupBundle:SubStep:show.html.twig' with {'subStep': subStep} %}
            </div>
        </div>
    {% endfor %}
    
    {{ form_rest(edit_form) }}

    <div class="ui basic segment">
        {{ form_widget(edit_form.reset) }}
        {{ form_widget(edit_form.submit) }}
    </div>

</div>

{{ form_end(edit_form) }}