{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/SetupBundle/Resources/views/Setup/index.html.twig #}

<div class="ui grid">
    <div class="three wide column">
        {% for setupStep in arraySetupStep %}
            <div class="setupStepSelector" data-stepid="{{setupStep[0].step.id}}" data-stepnumber="{{ setupStep[0].step.stepOrder }}">
                <div class="ui one vertical steps">
                    <a class="step">
                        <i class="truck icon"></i>
                        <div class="content">
                            <div class="title stepItem">Step n° {{ setupStep[0].step.stepOrder }}</div>
                            <div class="description">{{setupStep[0].step.name}}</div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="thirteen wide column">
        {% for setupSteps in arraySetupStep %}
            <div class="setupStepContent" data-stepid="{{setupSteps[0].step.id}}" data-stepnumber="{{ setupSteps[0].step.stepOrder }}">
                <div class="ui grid segment">
                    <div class="four wide column">
                        <div class="ui horizontal segment">
                            <div>
                                {{setupSteps[0].step.name}}<br />
                                {{setupSteps[0].step.description}}<br />
                                {{setupSteps[0].step.category}}<br />
                                {{setupSteps[0].step.indicatorType}}<br />
                                {{setupSteps[0].step.tip}}<br />
                                {{setupSteps[0].step.complexity}}<br />
                            </div>
                            <select class="selectVersion">
                                {% for setupStep in setupSteps|reverse %}
                                    <option value="{{ setupStep.id }}" data-gameid="{{ gameId }}" data-setupid="{{ setupStep.setup.id }}" >Version {{ setupStep.version }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="twelve wide column">
                        <div class="ui horizontal segment active">
                            <div class="ui loader"></div>
                            <div class="setupStepValues"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
