{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/gameIndex.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    {% set canEdit = is_granted('ROLE_ADMIN') %}

    <h2>
        {% trans %}core.game.welcome{% endtrans %} {{ game.name }}
        {% if canEdit %}
            <a class="ui small labeled icon red button"
               href="{{ path('rfcCore_gameParameters', {'gameId': game.id}) }}">
                <i class="wrench icon"></i>
                {% trans %}core.menu.parameters{% endtrans %}
            </a>
            <a class="ui small labeled icon teal button"
               href="{{ path('rfcCore_manageGallery', { 'entityType': 'Game', 'entityId': game.id }) }}">
                <i class="file image outline icon"></i>
                {% trans %}core.action.manageGallery{% endtrans %}
            </a>
        {% endif %}
    </h2>
    <p>
        {{ game.description }}
    </p>

    <div class="ui two column stackable grid">
        <div class="column">
            <h3 class="ui top attached header">{% trans %}core.game.currentSessions{% endtrans %}</h3>

            <div class="ui attached segment">
                {% if game.getCurrentSessions|length > 0 %}
                    {% for session in game.getCurrentSessions %}
                        {% include 'RFCCoreBundle:Core:sessionInfo.html.twig' with {'session' : session} %}
                    {% endfor %}
                {% else %}
                    <h3>{% trans %}core.game.noSessions.current{% endtrans %}</h3>
                {% endif %}
            </div>
            <h3 class="ui top attached header">{% trans %}core.game.incomingSessions{% endtrans %}</h3>

            <div class="ui attached segment">
                {% if game.getNextSessions|length > 0 %}
                    {% for session in game.getNextSessions %}

                        {% include 'RFCCoreBundle:Core:sessionInfo.html.twig' with {'session' : session} %}
                    {% endfor %}
                {% else %}
                    <h3>{% trans %}core.game.noSessions.future{% endtrans %}</h3>
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>{% trans %}core.game.flashNews{% endtrans %}</h3>

                <p>{{ game.getFlashNews.value }}</p>
            </div>
            <div class="ui segment">
                <h3>{% trans %}core.game.bestDriver{% endtrans %}</h3>

                <p>
                    {% for user in users %}
                        {% if user.id == game.getWeeklyDriver.value %}
                            {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : user} %}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    {% include 'RFCCoreBundle:Structure:gallery.html.twig' with {'listImages': game.gallery.listImages} %}

{% endblock %}