{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/gameIndex.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <h2>Bienvenue sur {{ game.name }}</h2>
    <p>
        {{ game.description }}
    </p>

    <div class="ui two column grid">
        <div class="column">
            <div class="ui segment">
                {% if game.getNextEvent %}
                    <h3>Next event &nbsp; <a href="{{ path('rfcCore_championships_show', { 'championshipId': game.getNextEvent.championship.id, 'gameId': game.id  }) }}">{{ game.getNextEvent.name }} </a></h3>
                    <p>
                        Category : {{ game.getNextEvent.category ? game.getNextEvent.category : "Not defined" }}<br />
                        Vehicle : {{ game.getNextEvent.vehicle ? game.getNextEvent.vehicle :"Not defined" }}<br />
                        Track : {{ game.getNextEvent.track ? game.getNextEvent.track :"Not defined"}}<br />
                        Last session : {{ game.getNextEvent.getLastSession ? game.getNextEvent.getLastSession.name : "Not defined" }}
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Flash news!</h3>
                <p>CECI EST UNE NOUVELLE</p>
            </div>
        </div>
    </div>

    {% include 'RFCCoreBundle:Structure:gallery.html.twig' with {'listImages': game.listImages} %}

{% endblock %}