{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/gameIndex.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <h2>Bienvenue sur {{ game.name }}</h2>
    <p>
        {{ game.description }}
    </p>

    <div class="ui two column grid">
        <div class="column">
            <h3 class="ui top attached header">Pending sessions</h3>
            <div class="ui attached segment">
                {% if game.getCurrentSessions|length > 0 %}
                    {% for session in game.getCurrentSessions %}
                        <h4 class="ui dividing header">
                            <a href="{{ path('rfcCore_championships_show', { 'championshipId': session.event.championship.id, 'gameId': game.id  }) }}">{{ session.event.name }} : {{ session.name }}</a>
                        </h4>
                        <div class="ui center aligned basic segment">
                            <div class="ui horizontal divided list">
                                <div class="item">
                                    <i class="map marker icon"></i>
                                    <div class="content">
                                        <div class="header">Category</div>
                                        <div class="description">{{ session.event.category ? session.event.category : "Not defined" }}</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="map marker icon"></i>
                                    <div class="content">
                                        <div class="header">Vehicle</div>
                                        <div class="description">{{ session.event.vehicle ? session.event.vehicle :"Not defined" }}</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="map marker icon"></i>
                                    <div class="content">
                                        <div class="header">Track</div>
                                        <div class="description">{{ session.event.track ? session.event.track :"Not defined"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>No current session for this game. All the current championships are now finished.</h3>
                {% endif %}
            </div>
            <h3 class="ui top attached header">Future sessions</h3>
            <div class="ui attached segment">
                {% if game.getNextSessions|length > 0 %}
                    {% for session in game.getNextSessions %}
                        <h4 class="ui dividing header">
                            <a href="{{ path('rfcCore_championships_show', { 'championshipId': session.event.championship.id, 'gameId': game.id  }) }}">{{ session.event.name }} : {{ session.name }}</a>
                        </h4>
                        <div class="ui center aligned basic segment">
                            <div class="ui horizontal divided list center aligned">
                                <div class="item">
                                    <i class="map marker icon"></i>
                                    <div class="content">
                                        <div class="header">Category</div>
                                        <div class="description">{{ session.event.category ? session.event.category : "Not defined" }}</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="map marker icon"></i>
                                    <div class="content">
                                        <div class="header">Vehicle</div>
                                        <div class="description">{{ session.event.vehicle ? session.event.vehicle :"Not defined" }}</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="map marker icon"></i>
                                    <div class="content">
                                        <div class="header">Track</div>
                                        <div class="description">{{ session.event.track ? session.event.track :"Not defined"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>No incoming session for this game. All the current championships are now finished.</h3>
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Flash news!</h3>
                <p>{{game.getFlashNews.value}}</p>
            </div>
            <div class="ui segment">
                <h3>Best Driver of the week</h3>
                <p>
                    {% for user in users %}
                        {% if user.id == game.getWeeklyDriver.value %}
                            {{ user.userName }}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    {% include 'RFCCoreBundle:Structure:gallery.html.twig' with {'listImages': game.listImages} %}

{% endblock %}