{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
Copyright (C) 2014 - //Racing-France//

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    {% set flashNews = null %}
    {% set weeklyDriver = null %}

    {% for property in properties %}
        {% if property.name == 'flashNews' %}
            {% set flashNews = property %}
        {% endif %}
        {% if property.name == 'weeklyDriver' %}
            {% set weeklyDriver = property %}
        {% endif %}
    {% endfor %}

    <div class="uiTabs">

        <div class="ui pointing secondary menu">
            <a class="item active" data-tab="general">{% trans %}core.parameters.general{% endtrans %}</a>
            <a class="item" data-tab="sessiontypes">{% transchoice game.listTypeSessions|length %}core.dictionnary.sessionType{% endtranschoice %}</a>
            <a class="item" data-tab="rules">{% transchoice game.listRules|length %}core.dictionnary.rule{% endtranschoice %}</a>
            <a class="item" data-tab="metarules">{% transchoice game.listMetaRules|length %}core.dictionnary.metaRule{% endtranschoice %}</a>
            <a class="item" data-tab="vehicles">{% transchoice game.listVehicles|length %}core.dictionnary.vehicle{% endtranschoice %}</a>
            <a class="item" data-tab="categories">{% transchoice game.listCategories|length %}core.dictionnary.category{% endtranschoice %}</a>
            <a class="item" data-tab="tracks">{% transchoice game.listTracks|length %}core.dictionnary.track{% endtranschoice %}</a>
        </div>

        <div class="ui active tab segment" data-tab="general">
            <div class="ui two columns grid">
                <div class="column">
                    <h2>{% trans %}core.parameters.informations{% endtrans %}</h2>
                    <dl class="dl-horizontal">
                        <dt>{% trans %}core.parameters.game.data.championships{% endtrans %}</dt>
                        <dd>{{ game.listChampionships|length }}</dd>
                        <dt>{% trans %}core.parameters.game.data.vehicles{% endtrans %}</dt>
                        <dd>{{ game.listVehicles|length }}</dd>
                        <dt>{% trans %}core.parameters.game.data.tracks{% endtrans %}</dt>
                        <dd>{{ game.listTracks|length }}</dd>
                        <dt>{% trans %}core.parameters.game.data.categories{% endtrans %}</dt>
                        <dd>{{ game.listCategories|length }}</dd>
                        <dt>{% trans %}core.parameters.game.data.metaRules{% endtrans %}</dt>
                        <dd>{{ game.listMetaRules|length }}</dd>
                        <dt>{% trans %}core.parameters.game.data.rules{% endtrans %}</dt>
                        <dd>{{ game.listRules|length }}</dd>
                        <dt>{% trans %}core.parameters.game.data.sessionTypes{% endtrans %}</dt>
                        <dd>{{ game.listTypeSessions|length }}</dd>
                    </dl>
                </div>
                <div class="column">
                    <h2>{% trans %}core.parameters.game.parameters{% endtrans %}</h2>
                    <form class="ui form system-properties">
                        <div class="field">
                            <label>{% trans %}core.parameters.game.flashNews{% endtrans %}</label>
                            <textarea name="{{flashNews.id}}">{{flashNews.value}}</textarea>
                        </div>
                        <div class="field">
                            <label>{% trans %}core.parameters.game.weeklyDriver{% endtrans %}</label>
                            <select name="{{weeklyDriver.id}}" class="ui dropdown" id="select">
                                <option value=" ">{% trans %}core.parameters.game.weeklyDriverSelect{% endtrans %}</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}" {{ weeklyDriver.value == user.id ? ' selected="selected "' }}>{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="ui right floated button" type="submit" value="Submit">{% trans %}core.action.submit{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="ui tab segment" data-tab="sessiontypes">
            <a class="ui labeled icon button" href="{{ path('admin_typeSession_new', {'gameId' : appSettings.getGame().id}) }}"><i class="add icon"></i>{% trans %}core.action.add{% endtrans %}</a>
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>{% trans %}core.table.name{% endtrans %}</th>
                        <th>{% trans %}core.table.description{% endtrans %}</th>
                        <th>{% trans %}core.table.usedForResults{% endtrans %}</th>
                        <th>{% trans %}core.table.images{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for typeSession in game.listTypeSessions %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_typeSession_edit', {'typeSessionId' : typeSession.id, 'gameId' : appSettings.getGame().id}) }}">{{ typeSession.name }}</a>
                            </td>
                            <td>{{ typeSession.description }}</td>
                            <td>{{ typeSession.usedForResults }}</td>
                            <td>
                                <a class="ui small labeled icon teal button" href="{{ path('rfcCore_manageGallery', { 'entityType': 'TypeSession', 'entityId': typeSession.id }) }}">
                                    <i class="file image outline icon"></i>{% trans %}core.action.manageGallery{% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="ui tab segment" data-tab="rules">

            <a class="ui labeled icon button" href="{{ path('admin_rule_new', {'gameId' : appSettings.getGame().id}) }}"><i class="add icon"></i>{% trans %}core.action.add{% endtrans %}</a>

            <div>
                {% include 'RFCAdminBundle:Rule:list.html.twig' with {'rules' : game.listRules, 'game' : game} %}
            </div>

        </div>

        <div class="ui tab segment" data-tab="metarules">

            <a class="ui labeled icon button" href="{{ path('admin_metaRule_new', {'gameId' : appSettings.getGame().id}) }}"><i class="add icon"></i>{% trans %}core.action.add{% endtrans %}</a>

            <div class="ui grid">
                <div class="four wide column">
                    <br />
                    {% for metaRule in game.listMetaRules %}
                        <div class="ui vertical steps">
                            <div id="metaRule_{{ metaRule.id }};game_{{ appSettings.getGame().id }}" class="step metaRuleItem" >
                                <i class="truck icon"></i>
                                <div class="content">
                                    <div class="title">{{ metaRule.name }}</div>
                                    <div class="description">
                                        {{ metaRule.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="ui small button" href="{{ path('admin_metaRule_edit', {'metaRuleId' : metaRule.id, 'gameId' : appSettings.getGame().id}) }}">{% trans %}core.action.edit{% endtrans %}</a>
                    {% endfor %}
                </div>
                <div class="twelve wide column">
                    <div id="listRules">
                        {# Colonne 2 : Rules #}
                        {% include 'RFCAdminBundle:Rule:affectMetaRule.html.twig' with {'rules' : game.listRules, 'game' : game, 'metaRuleId' : null} %}
                    </div>
                </div>
            </div>

        </div>

        <div class="ui tab segment" data-tab="vehicles">

            <a class="ui labeled icon button" href="{{ path('admin_vehicle_new', {'gameId' : appSettings.getGame().id}) }}"><i class="add icon"></i>{% trans %}core.action.add{% endtrans %}</a>
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>{% trans %}core.table.name{% endtrans %}</th>
                        <th>{% trans %}core.table.description{% endtrans %}</th>
                        <th>{% trans %}core.table.images{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in game.listVehicles %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_vehicle_edit', {'vehicleId' : vehicle.id, 'gameId' : appSettings.getGame().id}) }}">{{ vehicle.name }}</a>
                            </td>
                            <td>{{ vehicle.description }}</td>
                            <td>
                                <a class="ui small labeled icon teal button" href="{{ path('rfcCore_manageGallery', { 'entityType': 'Vehicle', 'entityId': vehicle.id }) }}">
                                    <i class="file image outline icon"></i>{% trans %}core.action.manageGallery{% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="ui tab segment" data-tab="categories">

            <a class="ui labeled icon button" href="{{ path('admin_category_new', {'gameId' : appSettings.getGame().id}) }}"><i class="add icon"></i>{% trans %}core.action.add{% endtrans %}</a>

            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>{% trans %}core.table.name{% endtrans %}</th>
                        <th>{% trans %}core.table.description{% endtrans %}</th>
                        <th>{% trans %}core.table.images{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in game.listCategories %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_category_edit', {'categoryId' : category.id, 'gameId' : appSettings.getGame().id}) }}">{{ category.name }}</a>
                            </td>
                            <td>{{ category.description }}</td>
                            <td>
                                <a class="ui small labeled icon teal button" href="{{ path('rfcCore_manageGallery', { 'entityType': 'Category', 'entityId': category.id }) }}">
                                    <i class="file image outline icon"></i>{% trans %}core.action.manageGallery{% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="ui tab segment" data-tab="tracks">

            <a class="ui labeled icon button" href="{{ path('admin_track_new', {'gameId' : appSettings.getGame().id}) }}"><i class="add icon"></i>{% trans %}core.action.add{% endtrans %}</a>

            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>{% trans %}core.table.name{% endtrans %}</th>
                        <th>{% trans %}core.table.description{% endtrans %}</th>
                        <th>{% trans %}core.table.images{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in game.listTracks %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_track_edit', {'trackId' : track.id, 'gameId' : appSettings.getGame().id}) }}">{{ track.name }}</a>
                            </td>
                            <td>{{ track.description }}</td>
                            <td>
                                <a class="ui small labeled icon teal button" href="{{ path('rfcCore_manageGallery', { 'entityType': 'Track', 'entityId': track.id }) }}">
                                    <i class="file image outline icon"></i>{% trans %}core.action.manageGallery{% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
