{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}
{% block title %}
    Accueil - 
    {{ parent() }}
{% endblock %}
{% block rfccore_body %}

    <h2>Liste des jeux</h2>

    {% if games %}

        <div class="ui five cards">
            {% for game in games %}
                <a class="ui card" href="{{ path('rfcCore_gameSelection', {'gameId': game.id}) }}"> 
                    <div class="image">
                        {% if game.listImages is not empty %}
                            <img alt="{{ game.shortName }}" src="{{ game.listImages[0].url }}" class="img-rounded" width="200px" />
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="header">{{ game.name }}</div>
                        <div class="meta">
                            {{ game.shortName }}
                        </div>
                        <div class="description">
                            {{ game.description }}
                        </div>
                    </div>
                    <div class="extra content">
                    </div>
                </a>
            {% endfor %}
        </div>

    {% else %}
        Pas (encore !) de jeux
    {% endif %}

{% endblock %}
