{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Core/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block rfccore_body %}
    {% set canEdit = is_granted('ROLE_ADMIN') %}

    <h2>Liste des jeux</h2>
    {% if canEdit %}
        <a class="ui icon primary button" href="{{ path('admin_game_new') }}"><i class="icon add"></i>Add</a>
    {% endif %}

    {% if games %}

        <div class="ui five doubling cards">
            {% for game in games %}
                <div class="ui link card gameCard" data-gameid="{{ game.id }}">
                    <div class="image">
                        {% if game.listImages is not empty %}
                            <img alt="{{ game.shortName }}" src="{{ game.listImages[0].url }}" class="img-rounded" width="200px" />
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="header">{{ game.name }}</div>
                        <div class="meta">
                            {{ game.shortName }}
                            <div class="ui label right floated popupLabel">
                                <i class="info icon"></i>
                                Game data
                            </div>
                            <div class="ui fluid inverted popup">
                                <div class="ui inverted statistic">
                                    <div class="value">
                                        {{ game.listChampionships|length }}
                                    </div>
                                    <div class="label">
                                        Championships
                                    </div>
                                </div>
                                <div class="ui inverted statistic">
                                    <div class="value">
                                        {{ game.listVehicles|length }}
                                    </div>
                                    <div class="label">
                                        Vehicles
                                    </div>
                                </div>
                                <div class="ui inverted statistic">
                                    <div class="value">
                                        {{ game.listTracks|length }}
                                    </div>
                                    <div class="label">
                                        Tracks
                                    </div>
                                </div>
                                <div class="ui inverted statistic">
                                    <div class="value">
                                        {{ game.listCategories|length }}
                                    </div>
                                    <div class="label">
                                        Categories
                                    </div>
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="ui inverted statistic">
                                        <div class="value">
                                            {{ game.listMetaRules|length }}
                                        </div>
                                        <div class="label">
                                            Meta rules
                                        </div>
                                    </div>
                                    <div class="ui inverted statistic">
                                        <div class="value">
                                            {{ game.listRules|length }}
                                        </div>
                                        <div class="label">
                                            Rules
                                        </div>
                                    </div>
                                    <div class="ui inverted statistic">
                                        <div class="value">
                                            {{ game.listTypeSessions|length }}
                                        </div>
                                        <div class="label">
                                            Session types
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="description">
                            {{ game.description }}
                            <div class="ui horizontal divider">Soon in {{ game.name }}</div>
                            <p>THIS IS COMING SOON!</p>
                        </div>
                    </div>
                    {% if canEdit %}
                        <div class="extra content">
                            <div class="ui right floated mini primary buttons">
                                <a class="ui left attached icon button" href="{{ path('admin_game_edit', { 'gameId': game.id }) }}">
                                    <i class="wrench icon"></i>Edit
                                </a>
                                <a class="ui right attached     icon button" href="{{ path('rfcCore_gameParameters', {'gameId': game.id}) }}">
                                    <i class="game icon"></i>Game data
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% else %}
        Pas (encore !) de jeux
    {% endif %}

{% endblock %}
