{# src/RFC/CoreBundle/Resources/views/Core/index.html.twig #} {% extends
"RFCCoreBundle::layout.html.twig" %} {% block title %} Accueil - {{
parent() }} {% endblock %} {% block rfccore_body %}

<h2>Liste des jeux</h2>

<ul class="list-inline">
	{% for game in games %}
	<li><a href="{{ path('rfcCore_gameSelection', {'gameId': game.id}) }}"><div
				class="text-center">
				{% if game.listImages is not empty %}
				<img alt="{{ game.shortName }}" src="{{ game.listImages[0] }}"
					class="img-rounded" width="200px" /><br /> {% endif %}<span
					class="label label-default">{{ game.name }}</span></a>
		</div></li> {% else %}
	<li>Pas (encore !) de jeux</li> {% endfor %}
</ul>

{% endblock %}
