{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
Copyright (C) 2014 - //Racing-France//

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <div class="uiTabs">

        {% set categories = [] %}
        {% for property in properties %}
            {% set category = (property.category != "") ? property.category : "General" %}
            {% if category not in categories %}
                {% set categories = categories|merge([category]) %}
            {% endif %}
        {% endfor %}

        <div class="ui pointing secondary menu">
            <a class="item active" data-tab="infos">{% trans %}core.parameters.informations{% endtrans %}</a>
            {% for category in categories %}
                <a class="item" data-tab="{{ category|lower }}">{{ category }}</a>
            {% endfor %}
        </div>

        <div class="ui active tab segment" data-tab="infos">
            <div class="ui two columns grid">
                <div class="column">
                    <h2>{% trans %}core.parameters.informations{% endtrans %}</h2>
                    <dl class="dl-horizontal">
                        <dt>{% trans %}core.parameters.siteVersion{% endtrans %}</dt>
                        <dd>xxx</dd>
                        <dt>{% trans %}core.parameters.administrator{% endtrans %}</dt>
                        <dd>yyy</dd>
                        <dt>{% trans %}core.parameters.siteName{% endtrans %}</dt>
                        <dd>{{ properties[0].value }}</dd>
                    </dl>
                </div>
                <div class="column">
                    <h2>{% trans %}core.parameters.quickLinks{% endtrans %}</h2>
                        <a class="ui icon primary button" href="{{ path('admin_game_new') }}"><i class="icon add"></i>{% trans %}core.action.addGame{% endtrans %}</a>
                    {% for game in games %}
                        <h3>{{ game.name }}</h3>
                        <a class="ui labeled mini button" href=" {{ path('rfcCore_gameSelection', {'gameId' : game.id}) }}">{% trans %}core.action.go.gameIndex{% endtrans %}</a>
                        <a class="ui labeled mini button" href=" {{ path('rfcCore_gameParameters', {'gameId' : game.id}) }}">{% trans %}core.action.go.gameParameters{% endtrans %}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for category in categories %}
            <div class="ui tab segment" data-tab="{{ category|lower }}">
                <form class="system-properties">
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th>{% trans %}core.table.id{% endtrans %}</th>
                                <th>{% trans %}core.table.name{% endtrans %}</th>
                                <th>{% trans %}core.table.description{% endtrans %}</th>
                                <th>{% trans %}core.table.value{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in properties %}
                                {% set cat = (property.category != "") ? property.category : "General" %}
                                {% if cat == category %}
                                    <tr>
                                        <td>{{ property.id }}</td>
                                        <td>{{ property.name }}</td>
                                        <td class="small">{{ property.description }}</td>
                                        <td>
                                            {% if property.type == 'date' %}
                                                <input id="{{ property.id }}"
                                                       name="{{ property.id }}"
                                                       class="datepicker"
                                                       type="text"
                                                       data-yearDescending="false"
                                                       {% if property.min is not null %} data-minDate="{{ property.min }}" {% endif %}
                                                       {% if property.max is not null %} data-maxDate="{{ property.max }}" {% endif %}
                                                       data-format="DD-MM-YYYY"
                                                       data-template="DD MMM YYYY"
                                                       value="{{ property.value }}" />
                                            {% elseif property.type == 'datetime' %}
                                                {% if property.min is not null %}
                                                    {% set dateMin = property.min|split(' ')[0] %}
                                                    {% set hourMin = property.min|split(' ')[1] %}
                                                {% endif %}
                                                {% if property.max is not null %}
                                                    {% set dateMax = property.max|split(' ')[0] %}
                                                    {% set hourMax = property.max|split(' ')[1] %}
                                                {% endif %}
                                                <input id="{{ property.id }}"
                                                       name="{{ property.id }}"
                                                       class="datetimepicker"
                                                       type="text"
                                                       data-yearDescending="false"
                                                       {% if dateMin %} data-minDate="{{ dateMin }}" {% endif %}
                                                       {% if hourMin %} data-minTime="{{ hourMin }}" {% endif %}
                                                       {% if dateMax %} data-maxDate="{{ dateMax }}" {% endif %}
                                                       {% if hourMax %} data-maxTime="{{ hourMax }}" {% endif %}
                                                       data-format="DD-MM-YYYY HH:mm"
                                                       data-template="DD MMM YYYY     HH mm"
                                                       value="{{ property.value }}" />
                                            {% elseif property.type == 'number' %}
                                                <input id="{{ property.id }}"
                                                       type="number" {% if property.min is not null %}
                                                       min="{{ property.min }}" {% endif %} {% if property.max is not null %}
                                                       max="{{ property.max }}" {% endif %}
                                                       value="{{ property.value }}" />
                                            {% elseif property.type == 'select' %}
                                                <div class="ui compact menu">
                                                    <div class="ui simple dropdown item">
                                                        <i class="dropdown icon"></i>
                                                        {{ property.id }}
                                                        {% set  values = property.value|split(',') %}
                                                        <div class="menu">
                                                            {% for value in values %}

                                                                {% set item = value|split(':')[0] %}
                                                                {% set checked = value|split(':')[1] %}

                                                                <div class="item">
                                                                    <div class="ui checkbox" id="{{ property.id }}_{{ loop.index }}">
                                                                        <input type="checkbox" {{ checked == 1 ?  'checked="checked"' }} >
                                                                        <label>{{ item }}</label>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif property.type == 'textarea' %}
                                                <textarea id="{{property.id}}"
                                                          name="{{property.id}}">
                                                    {{ property.value }}
                                                </textarea>
                                            {% else %}
                                                <input id="{{ property.id }}"
                                                       name="{{ property.id }}"
                                                       type="{{ property.type }}"
                                                       value="{{ property.value }}" />
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="ui primary button" id="confirm-btn">{% trans %}core.action.confirm{% endtrans %}</button>
                    <button type="reset" class="ui secondary button" id="reset-btn">{% trans %}core.action.reset{% endtrans %}</button>
                </form>
            </div>
        {% endfor %}

    </div>

{% endblock %}
