{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Members/show.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    {% if user %}

        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="/images/wireframe/image.png">
                </div>
                <div class="content">
                    <div class="header">{{ user.username }}</div>
                    <div class="meta">
                        <div class="ui horizontal icon label">
                            <i class="fork icon"></i>
                            {% transchoice user.roles|length %}core.members.view.role{% endtranschoice %}
                            {% for role in user.roles %}
                                <div class="detail">{{ role }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="description">

                        <div class="ui form">
                            <div class="three fields">
                                <div class="field">
                                    <label>{% trans %}core.members.view.userName{% endtrans %}</label>
                                    <input placeholder="{{ user.username }}" readonly="readonly" type="text">
                                </div>
                                <div class="field">
                                    <label>{% trans %}core.members.view.firstName{% endtrans %}</label>
                                    <input placeholder="{{ user.firstName }}" readonly="readonly" type="text">
                                </div>
                                <div class="field">
                                    <label>{% trans %}core.members.view.lastName{% endtrans %}</label>
                                    <input placeholder="{{ user.lastName }}" readonly="readonly" type="text">
                                </div>
                                <div class="field">
                                    <label>{% trans %}core.members.view.age{% endtrans %}</label>
                                    <input placeholder="{{ user.age }}" readonly="readonly" type="text">
                                </div>
                                <div class="field">
                                    <label>{% trans %}core.members.view.email{% endtrans %}</label>
                                    <input placeholder="{{ user.email }}" readonly="readonly" type="text">
                                </div>
                                <div class="field">
                                    <label>{% trans %}core.members.view.lastLogin{% endtrans %}</label>
                                    <input placeholder="{{ user.lastLogin|date('H:i:s - d-m-Y') }}" readonly="readonly" type="text">
                                    {# TODO : |localizeddate('long', 'short') #}
                                </div>
                            </div>
                            <div class="field">
                                <label>{% transchoice user.getCrews|length %}core.members.view.mentor{% endtranschoice %}</label>
                                <div class="ui mini horizontal divided list">
                                    {% for crew in user.getCrews %}
                                        <div class="item">
                                            <div class="content">
                                                <div class="header">
                                                    <div class="ui icon label">
                                                        <a href="#">
                                                            <i class="user icon"></i>{{ crew.manager.username }}
                                                        </a>
                                                        <div class="detail">
                                                            <i class="game icon"></i>{{ crew.game.name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="extra">
                        <a class="ui right floated blue labeled icon button" href="{{ path('admin_user_edit', { 'userId': user.id }) }}"><i class="edit icon"></i>{% trans %}core.action.edit{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        {% trans with { '%userid%': app.request.get('userId') }%}core.members.view.noMember{% endtrans %}
    {% endif %}

{% endblock %}