{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %}
    {% block title %} Admin - {{ parent() }}{% endblock %}
{% block rfccore_body %}

<div class="panel panel-default">
    <div class="panel-heading">
        Championships &nbsp;
        <a class="ym-button ym-add" href="{{ path('admin_championship_new', {'gameId' : gameId}) }}">Add</a>
    </div>
    <div class="panel-body">
    <div id="msg"></div>
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Id</th>
    				<th>Name</th>
    				<th>Description</th>
    				<th>Isagreed</th>
    				<th>Listevents</th>
    				<th>Listmanagers</th>
    				<th>Metarule</th>
    				<th>Listrules</th>
    				<th>Actions</th>
    			</tr>
    		</thead>
    		<tbody class="table-striped">
    			{% for championship in championships %}
    			<tr>
    				<td><a
    					href="{{ path('admin_championship_show', { 'championshipId': championship.id, 'gameId': gameId }) }}">{{
    						championship.id }}</a></td>
    				<td>{{ championship.name }}</td>
    				<td>{{ championship.description }}</td>
    				<td>{{ championship.isAgreed }}</td>
    				<td>{% if championship.listEvents is empty %}
    				        Aucun Event pour le moment
    				    {% else %}
    					<ul class="list-unstyled">
    						{% for event in championship.listEvents %}
    						<li>{{ event.name }} <div><small><span class="label label-primary">{{ event.beginDate|date("Y/m/Y H:i") }}</span> > <span class="label label-primary">{{ event.endDate|date("Y/m/Y H:i") }}</span></small></div></li> {% endfor %}
    					</ul> {% endif %}
    				</td>
    				<td><ul>
    						{% for manager in championship.listManagers %}
    						<li>{{ manager.username }}</li> {% endfor %}
    					</ul></td>
    				<td>{{ championship.metaRule }}</td>
    				<td>
    				    <ul class="list-unstyled">
    				        {% if championship.isAgreed %}
    				            {% for rule in championship.metaRule.listRules %}
        						  <li>{{ rule.name }}</li>
        						{% endfor %}
    				        {% else %}
        						{% for rule in championship.listRules %}
        						  <li>{{ rule.name }}</li>
        						{% endfor %}
    						{% endif %}
    					</ul></td>
    				<td>
    					<ul class="list-unstyled">
    						<li><a class="btn btn-info btn-xs" role="button"
    							href="{{ path('admin_championship_show', { 'championshipId': championship.id, 'gameId': game.id  }) }}"><span
    								class="glyphicon glyphicon-eye-open"></span></a></li>
    						<li><a class="btn btn-primary btn-xs" role="button"
    							href="{{ path('admin_championship_edit', { 'championshipId': championship.id, 'gameId': gameId  }) }}"><span
    								class="glyphicon glyphicon-edit"></span></a></li>
    					</ul>
    				</td>
    			</tr>
    			{% endfor %}
    		</tbody>
    	</table>
	</div>
</div>
{% endblock %}
