<<<<<<< HEAD
{% extends "RFCCoreBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %} {% block
javascripts %} {{ parent() }} {% javascripts 'specifics' %}
<script src="{{ asset('js/forms.behiavior.js') }}"
	type="text/javascript"></script> {% endjavascripts %}
{% endblock %}


<h1>Championship creation</h1>

{{ form(form) }}

<ul class="record_actions">
	<li><a href="{{ path('admin_championship', { 'gameId': gameId }) }}">
			Back to the list </a></li>
=======
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Championship creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_championship') }}">
            Back to the list
        </a>
    </li>
>>>>>>> WorkingBundles
</ul>
{% endblock %}
