{% extends "RFCCoreBundle::layout.html.twig" %} {% block javascripts %}
{{ parent() }} {% javascripts 'RFCAdminJS' %}
<script src="{{asset('js/forms.behiavior.js') }}"></script>
{% endjavascripts %} {% endblock %} {% block title %} Admin - {{
parent() }} {% endblock %} {% block rfccore_body %}

<ol class="breadcrumb">
	<li><a href="{{ path('RFCAdmin_index') }}">Admin</a></li>
	<li><a href="{{ path('admin_game_manage', {'id' : game[0].id}) }}">{{
			game[0].name }}</a></li>
	<li class="active">Championship</li>
</ol>

<div class="row">
	<h1>{{ entity.name }}</h1>

	<dl class="dl-horizontal">
		<dt>Description</dt>
		<dd>{{ entity.description }}</dd>
		<dt>Championnat Agrée?</dt>
		<dd>{{ entity.isAgreed }}</dd>
		<dt>MetaRule</dt>
		<dd>{{ entity.metaRule.name }}</dd>
		<dt>Organisateurs</dt>
		<dd>
			<ul>
				{% for manager in entity.listManagers %}
				<li>{{ manager.username }}</li> {% endfor %}
			</ul>
		</dd>
	</dl>
	<div class="col-md-5">

		<div class="list-group">
			<h3>
				Events <a class="btn btn-inverse btn-xs" role="button"
					href="{{ path('admin_event_new', {'gameId' : game[0].id, 'championshipId' : entity.id}) }}">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</h3>
			<ul>{% for event in entity.listEvents %}
			</ul>
			<div class="row">
				{# Colonne 1 : Events #}
				<div class="col-md-10">
					<a id="event_{{ event.id }};game_{{ game[0].id }};championship_{{ entity.id }}" href="#event_{{ event.id }}"
						class="eventItem list-group-item">
						<h4 class="list-group-item-heading">{{ event.name }}</h4>
						<p class="list-group-item-text">{{ event.description }}</p>
					</a>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li><a class="btn btn-info btn-xs" role="button"
							href="{{ path(
		'admin_event_show', {'id' : event.id, 'gameId' : game[0].id, 'championshipId' : entity.id }) }}"><span
								class="glyphicon glyphicon-eye-open"></span></a></li>
						<li><a class="btn btn-primary btn-xs" role="button"
							href="{{ path('admin_event_edit', {'id' : event.id, 'gameId' : game[0].id, 'championshipId' : entity.id}) }}"><span
								class="glyphicon glyphicon-edit"></span></a></li>
					</ul>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-7">
		<h3>Sessions</h3>

		<ul class="list-group" id="listSessions">{# Colonne 2 : Sessions #} {%
			include 'RFCAdminBundle:Session:list.html.twig' with {'sessions' :
			sessions, 'game' : game, 'championshipId' : entity.id, 'eventId' : eventId} %}
		</ul>
	</div>
</div>
<hr />
<div>
	<h1>
		Rules <a class="btn btn-inverse btn-xs" role="button"
			href="{{ path('admin_rule_new', {'gameId' : game[0].id}) }}"> <span
			class="glyphicon glyphicon-plus"></span>
		</a>
	</h1>
	<div class="list-group">
		{% for rule in entity.listRules %}
		<div class="row">
			<div class="col-md-10">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">{{ rule.name }}</h4>
					<p class="list-group-item-text">{{ rule.value }}</p>
				</a>
			</div>
			<div class="col-md-2">
				<ul class="list-unstyled">
					<li><a class="btn btn-info btn-xs" role="button"
						href="{{ path(
		'admin_rule_show', {'id' : rule.id, 'gameId' : gameId }) }}"><span
							class="glyphicon glyphicon-eye-open"></span></a></li>
					<li><a class="btn btn-primary btn-xs" role="button"
						href="{{ path('admin_rule_edit', {'id' : rule.id, 'gameId' : gameId}) }}"><span
							class="glyphicon glyphicon-edit"></span></a></li>
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
