{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/SetupBundle/Resources/views/Setup/index.html.twig #}
{% extends "RFCCoreBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block rfccore_body %}

    <h1>Steps</h1>

    <a class="ui icon teal labeled button" href="{{ path('setup_new', {'gameId': gameId}) }}">
        <i class="add icon"></i> Create
    </a>

    {% if steps %}

        <div class="ui five cards">

            {% for step in steps %}
                <div class="ui card">
                    <div class="image">
                        <img src="/images/avatar/large/stevie.jpg">
                    </div>
                    <div class="content">
                        <div class="header">{{ step.name }}</div>
                        <div class="meta">
                            <span class="date">{{ step.listSubSteps|length }} subSteps</span>
                        </div>
                        <div class="description">
                            <table class="ui very basic table">
                                <tbody>
                                    {% for subStep in step.listSubSteps %}
                                        <tr>
                                            <td>
                                                {{ subStep.name }}
                                            </td>
                                            <td>
                                                <a class="ui mini icon blue button" href="{{ path('setup_step_delete', {'gameId': gameId, 'stepId': subStep.step.id}) }}">
                                                    <i class="edit icon"></i>
                                                </a>
                                                <a class="ui mini icon red button" href="{{ path('setup_step_edit', {'gameId': gameId, 'stepId': subStep.step.id}) }}">
                                                    <i class="delete icon"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot class="full-width">
                                    <tr>
                                        <th colspan="2" class="center aligned">
                                            <a class="ui mini icon labeled teal button" href="{{ path('setup_subStep_new', {'gameId': gameId, 'stepId': step.id}) }}">
                                                <i class="add icon"></i> Add substep
                                            </a>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated">
                            <a class="ui mini icon labeled primary button" href="{{ path('setup_step_edit', {'gameId': gameId, 'stepId': step.id}) }}">
                                <i class="edit icon"></i> Edit
                            </a>
                            <a class="ui mini icon labeled red button" href="{{ path('setup_step_delete', {'gameId': gameId, 'stepId': step.id}) }}">
                                <i class="delete icon"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% else %}
        No steps available
    {% endif %}

{% endblock %}
