{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/SetupBundle/Resources/views/Setup/index.html.twig #}
{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <h1>
        {% trans %}setup.configure.title{% endtrans %}
    </h1>

    {% if steps %}

        <h2>
            {% trans with {'%stepCount%' : steps|length } %}setup.configure.data{% endtrans %}<a class="ui icon teal labeled button" href="{{ path('setup_step_new', {'gameId': gameId}) }}">
                <i class="add icon"></i> {% trans %}setup.actions.create{% endtrans %}
            </a>
        </h2>

        <div class="ui five doubling cards">

            {% for step in steps %}
                <div class="ui card">
                    <div class="image">
                        <img src="/images/avatar/large/stevie.jpg">
                    </div>
                    <div class="content">
                        <div class="header">
                            {{ step.name }}
                            <a class="ui mini icon labeled teal button" href="{{ path('setup_subStep_new', {'gameId': gameId, 'stepId': step.id}) }}">
                                <i class="add icon"></i>{% trans %}setup.actions.addSubSteps{% endtrans %}
                            </a>

                        </div>
                        <div class="meta">
                            <span class="date">
                                {{ step.listSubSteps|length }} {% transchoice step.listSubSteps|length %}setup.dictionnary.subStep{% endtranschoice %}
                            </span>
                        </div>
                        <div class="description">
                            <div class="ui divided list">
                                {% for subStep in step.listSubSteps %}
                                    <div class="item">
                                        <div class="right floated">
                                            <a class="ui mini icon blue button" href="{{ path('setup_subStep_edit', {'gameId': gameId, 'stepId': step.id, 'subStepId': subStep.id }) }}">
                                                <i class="edit icon"></i>
                                            </a>
                                            <a class="ui mini icon red button" href="{{ path('setup_subStep_delete', {'gameId': gameId, 'stepId': step.id, 'subStepId': subStep.id}) }}">
                                                <i class="delete icon"></i>
                                            </a>
                                        </div>
                                        <i class="top aligned right triangle icon"></i>
                                        <div class="content">
                                            <div class="header">{{ subStep.name }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated">
                            <a class="ui mini icon labeled primary button" href="{{ path('setup_step_edit', {'gameId': gameId, 'stepId': step.id}) }}">
                                <i class="edit icon"></i>{% trans %}setup.actions.edit{% endtrans %}
                            </a>
                            <a class="ui mini icon labeled red button" href="{{ path('setup_step_delete', {'gameId': gameId, 'stepId': step.id}) }}">
                                <i class="delete icon"></i>{% trans %}setup.actions.delete{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% else %}
        {% trans %}setup.configure.noData{% endtrans %}
    {% endif %}

    <a class="ui icon labeled primary button" href="{{ path('rfcSetup_index', {'gameId': gameId}) }}">
        <i class="left arrow icon"></i>{% trans %}setup.actions.backPage{% endtrans %}
    </a>

{% endblock %}
