{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %}
    {% block title %} Admin - {{ parent() }} {% endblock %}
{% block rfccore_body %}

<div class="panel panel-default">
    <div class="panel-heading">
        Session types &nbsp;
        <a class="ym-button ym-add" href="{{ path('admin_typeSession_new', {'gameId' : gameId}) }}">Add</a>
    </div>
    <div id="msg"></div>
    <div class="panel-body">
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Name</th>
    				<th>Description</th>
    				<th>Used for results</th>
    			</tr>
    		</thead>
    		<tbody class="table-striped">
    			{% for typeSession in typeSessions %}
	    		<tr>
	    			<td>
	    				<a href="{{ path('admin_typeSession_edit', {'typeSessionId' : typeSession.id, 'gameId' : gameId}) }}">{{ typeSession.name }}</a>
	    			</td>
                    <td>{{ typeSession.description }}</td>
                    <td>{{ typeSession.usedForResults }}</td>
	    		</tr>
	    		{% endfor %}
    		</tbody>
    	</table>
    </div>
</div>
{% endblock %}
