{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}

<ol class="breadcrumb">
	<li><a href="{{ path('RFCAdmin_index') }}">Admin</a></li>
	<li><a href="{{ path('admin_game_manage', {'gameId' : game[0].id}) }}">{{
			game[0].name }}</a></li>
	<li class="active">Rules</li>
</ol>

<div>
	<h1>
		Type sessions <a class="btn btn-inverse btn-xs" role="button"
			href="{{ path('admin_typeSession_new', {'gameId' : gameId}) }}"> <span
			class="glyphicon glyphicon-plus"></span>
		</a>
	</h1>
	<ul class="list-group">
		{% for typeSession in typeSessions %}
		<div class="row">
			<div class="col-md-10">
				<li class="list-group-item">
                    <h4 class="list-group-item-heading">{{ typeSession.name }}</h4>
                    <p class="list-group-item-text">{{ typeSession.description }}</p>
                </li>
			</div>
			<div class="col-md-2">
				<ul class="list-unstyled list-inline">
					<li><a class="btn btn-info btn-xs" role="button"
						href="{{ path(
		'admin_typeSession_show', {'typeSessionId' : typeSession.id, 'gameId' : gameId }) }}"><span
							class="glyphicon glyphicon-eye-open"></span></a></li>
					<li><a class="btn btn-primary btn-xs" role="button"
						href="{{ path('admin_typeSession_edit', {'typeSessionId' : typeSession.id, 'gameId' : gameId}) }}"><span
							class="glyphicon glyphicon-edit"></span></a></li>
				</ul>
			</div>
		</div>
		{% endfor %}
	</ul>
</div>
{% endblock %}
