{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% if app.session.get('game') %}
    <a class="ui labelled icon" href="{{ path('rfcCore_accueil') }}">
        <i class="angle left icon"></i>
    </a>
{% endif %}

{% if app.session.get('game') %}
    {% set game = app.session.get('game') %}

    <div class="ui top right pointing dropdown icon">

        {{ game.name }} <i class="arrow down icon"></i>

        <div class="ui menu">

            <a href="{{ path('rfcCore_gameSelection', {'gameId': appSettings.getGame().id}) }}" class="item">
                <i class="home icon"></i>
                {% trans %}core.menu.game{% endtrans %}
            </a>
            <a href="{{ path('rfcCore_championships', {'gameId': appSettings.getGame().id}) }}" class="item">
                <i class="trophy icon"></i>
                {% trans %}core.menu.championships{% endtrans %}
            </a>
            <a href="{{ path('rfcCore_calendar', {'gameId': appSettings.getGame().id}) }}" class="item">
                <i class="calendar icon"></i>
                {% trans %}core.menu.calendar{% endtrans %}
            </a>
            <a href="{{ path('rfcCore_crew', {'gameId': appSettings.getGame().id}) }}" class="item">
                <i class="comments icon"></i>
                {% trans %}core.menu.crew{% endtrans %}
            </a>
            <a href="{{ path('rfcSetup_index', {'gameId': appSettings.getGame().id}) }}" class="item">
                <i class="car icon"></i>
                {% trans %}core.menu.setups{% endtrans %}
            </a>
            <a href="{{ path('rfcCore_members', {'gameId': appSettings.getGame().id}) }}" class="item">
                <i class="users icon"></i>
                {% trans %}core.menu.members{% endtrans %}
            </a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('rfcCore_gameParameters', {'gameId': appSettings.getGame().id}) }}" class="red item icon">
                    <i class="game icon"></i>
                    {% trans %}core.menu.parameters{% endtrans %}
                </a>
            {% endif %}

        </div>
    </div>
{% endif %}