{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% if threadId is defined and threadId is not null %}
    <div id="showComments" class="ui right floated black icon button">
        <i class="comments icon"></i>
    </div>
{% endif %}

<div class="ui right floated icon top right pointing dropdown {{ is_granted("IS_AUTHENTICATED_REMEMBERED") ? '' : 'inverted ' }}orange button">

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{app.user.username}}
    {% endif %}
    <i class="user icon"></i>
    <div class="ui menu">
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ render(controller("FOSUserBundle:Security:login")) }}
        {% endif %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="item" href="{{ path('rfcCore_user') }}">
                <i class="user icon"></i>
                User panel
            </a>
            <a class="item" href="{{ path('fos_user_security_logout') }}">
                <i class="sign out icon"></i>
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a class="item" href="{{ path('fos_user_registration_register') }}">
                <i class="write icon"></i>
                S'enregistrer
            </a>
            <a class="item" href="{{ path('fos_user_resetting_request') }}">
                <i class="recycle icon"></i>
                Mot de passe oublié
            </a>
        {% endif %}
        <div class="item">
            <i class="help icon"></i>
            Help
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="divider"></div>
            <div class="header">Administration</div>
            <a class="item" href="{{ path('RFCAdmin_index') }}">
                <i class="settings icon"></i>
                Access to admin panel
            </a>
        {% endif %}
    </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
    <a class="ui right floated white icon button" href="{{ path('rfcCore_systemParameters') }}">
        <i class="cogs icon"></i>
        System
    </a>
{% endif %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div id="reportIssue" class="ui right floated red labeled icon button">
        <i class="warning icon"></i> Report issue / anomaly
    </div>

    <div id="reportIssuePopup" class="ui standard modal transition">
        <i class="close icon"></i>
        <div class="header">
            Report issue
        </div>
        <div class="content">
            <div class="description">
                {% include 'RFCCoreBundle:Core:reportIssue.html.twig' %}
            </div>
        </div>
    </div>
{% endif %}