{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}



<div class="ui icon button">
    <i class="settings icon"></i>
</div>
<div class="ui icon button">
    <i class="user icon"></i>
</div>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    | <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">
        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
    </a>
    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('RFCAdmin_index') }}" class="ym-button ym-danger">Administration</a>
{% endif %}