{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Championship/Preview/championshipInfo.html.twig #}

<div class="item">
    <div class="ui items">
        <div class="item">
            <div class="image">
                {% if championship.listImages is not empty %}
                    <div class="slickSlideshow">
                        {% for image in championship.listImages %}
                            <img src="/{{ image.path }}">
                        {% endfor %}
                    </div>
                {% endif %}
                {% if canEdit %}
                    <a class="ui blue right corner label"
                       href="{{ path('admin_championship_edit', {'gameId': appSettings.getGame().id, 'championshipId': championship.id}) }}">
                        <i class="setting icon"></i>
                    </a>
                    <a class="ui red left corner label"
                       href="{{ path('rfcCore_manageGallery', { 'entityType': 'Championship', 'entityId': championship.id }) }}">
                        <i class="file image outline icon"></i>
                    </a>
                {% endif %}
            </div>
            <div class="content">
                <div class="header">
                    <a href="{{ path('rfcCore_championships_show', {'gameId': appSettings.getGame().id, 'championshipId': championship.id}) }}">
                        {{ championship.name }}
                    </a>
                </div>

                <div class="meta">
                    <div class="ui tiny black tag labels">
                        <div class="ui icon label">
                            <i class="ticket icon"></i>
                            {{ championship.championshipAgreed ? 'Agreed' : 'Non agreed' }}
                        </div>

                        <div class="ui icon label">
                            <i class="cubes icon"></i>
                            {% if championship.championshipAgreed %}
                                <a id="viewRulesDetails" href="#">
                                    {{ championship.metaRule.name }}
                                </a>
                                {% set rules = championship.metaRule.listRules %}
                            {% else %}
                                {% transchoice championship.listRules|length %}core.dictionnary.rule{% endtranschoice %}
                                {% set rules = championship.listRules %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="ui standard rulesDetails modal transition">
                        <i class="close icon"></i>

                        <div class="header">
                            {% if championship.metaRule %}
                                {{ championship.metaRule.name }}
                                {% if canEdit %}
                                    <a class="ui primary labeled icon button"
                                       href="{{ path('admin_metaRule_edit', {'gameId' : appSettings.getGame().id, 'metaRuleId' : championship.metaRule.id }) }}">
                                        <i class="edit icon"></i> {% trans %}core.action.edit{% endtrans %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="description">
                                {% include 'RFCAdminBundle:Rule:list.html.twig' with {'rules' : rules} %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <div class="ui horizontal divider">{% trans %}core.championship.info.description{% endtrans %}</div>
                    {{ championship.description ? championship.description : "-" }}
                </div>

                <div class="extra">
                    <div class="ui horizontal list">
                        {% if championship.listManagers %}
                            <div class="ui horizontal divider">{% transchoice championship.listManagers|length %}
                                core.championship.info.manager{% endtranschoice %}</div>
                            {% for manager in championship.listManagers %}
                                {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : manager} %}
                            {% endfor %}
                        {% else %}
                            <div class="item">
                                <div class="content">
                                    <div class="header">{% transchoice 0 %}
                                        core.championship.info.manager{% endtranschoice %}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>