{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "RFCAdminBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}
<h1>User list</h1>

<table class="records_list">
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Roles</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Age</th>
			<th>Avatarurl</th>
			<th>Steamid</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr>
			<td><a href="{{ path('admin_user_show', { 'userId': entity.id }) }}">{{
					entity.username }}</a></td>
			<td>{{ entity.email }}</td>
			<td>
				<ul class='list-unstyled'>
					{% for role in entity.roles %}
					<li>{{ role }}
					
					<li>{% endfor %}
				
				</ul>
			</td>
			<td>{{ entity.firstName }}</td>
			<td>{{ entity.lastName }}</td>
			<td>{{ entity.age }}</td>
			<td>{{ entity.avatarUrl }}</td>
			<td>{{ entity.steamId }}</td>
			<td>
				<ul>
					<li><a href="{{ path('admin_user_show', { 'userId': entity.id }) }}">show</a></li>
					<li><a href="{{ path('admin_user_edit', { 'userId': entity.id }) }}">edit</a></li>
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<ul>
	<li><a href="{{ path('admin_user_new') }}"> Create a new entry </a></li>
</ul>
{% endblock %}
