{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Link</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Avatarurl</th>
                <th>Steamid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>                <td>{{ entity.usernameCanonical }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>
                <ul>
	                {% for role in entity.roles %}
	                    <li>{{ role }}<li>
	                {% endfor %}
                </ul>
                </td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.age }}</td>
                <td>{{ entity.avatarUrl }}</td>
                <td>{{ entity.steamId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
