{% extends "RFCCoreBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}

<div class="row">
	<div class="col-md-12">
		<h1>
			Rules <a class="btn btn-default btn-xs" role="button"
				href="{{ path('admin_rule_new', {'gameId' : gameId}) }}"> Create a
				new rule </a>
		</h1>

		{% for rule in rules %}
		<div class="list-group">
			<div class="row">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">{{ rule.name }}</h4>
					<p class="list-group-item-text">{{ rule.value}}
					
					<div class="col-md-6">
						<a class="btn btn-default btn-xs" role="button"
							href="{{ path(
		'admin_rule_show', {'id' : rule.id, 'gameId' : gameId }) }}">show</a>
						<a class="btn btn-default btn-xs" role="button"
							href="{{ path('admin_rule_edit', {'id' : rule.id, 'gameId' : gameId}) }}">edit</a>
					</div>
					</p>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
