{% if metaRuleId is null %}
    Aucune MetaRule sélectionné. Veuillez sélectionner une MetaRule.
{% else %}
    {% if rules %}
    <table class="table table-striped">
        <thead>
           <tr>
               <th>Name</th>
               <th>Value</th>
           </tr>
        </thead>
        <tbody>
        {% set typeSession = '' %}
        {% for rule in rules %}
            {% if rule.typeSession != typeSession %}
                {% set typeSession = rule.typeSession %}
                <tr class="info"><td colspan="2">{{ typeSession }}</td></tr>
            {% endif %}
            <tr>
               <td>
                   <span data-toggle="tooltip" data-placement="bottom" title="{{ rule.description }}">
                       {{ rule.name }}
                       <span class="glyphicon glyphicon-info-sign"></span>
                   </span>
               </td>
               <td>
                   {{ rule.value }}
               </td>
            </tr>
        {% endfor %}
	   </tbody>
   </table>
    {% else %}
        Rien a afficher
    {% endif %}
      Ajouter une Rule <a id="list_add" class="btn btn-inverse btn-xs" role="button"
    href="{{ path('admin_rule_new', {'gameId' : gameId, 'metaRuleId' : metaRuleId}) }}"><span
    	class="glyphicon glyphicon-plus"></span>
    </a>
{% endif %}