{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Admin/index.html.twig #} {%
extends "RFCAdminBundle::layout.html.twig" %} {% block title %} Admin -
{{ parent() }} {% endblock %} {% block rfccore_body %}

<div class="panel panel-default">
    <div class="panel-heading">Global</div>
    <div class="panel-body">
        <ul>
            <li><a href="{{ path('admin_system') }}">System</a></li>
            <li><a href="{{ path('admin_game') }}">Gestion des jeux</a></li>
            <li><a href="{{ path('admin_user') }}">Gestion des utilisateurs</a></li>
        </ul>
    </div>
</div>

<div>
    <button href="#" data-dropdown="#dropdown-game" class="ym-button">
        Select a game
    </button>
    <div id="dropdown-game" class="dropdown dropdown-tip">
        <ul class="dropdown-menu">
            {% for game in games %}
              <li>
                  <a href="{{ path('admin_game_manage', {'gameId': game.id}) }}">{{ game.name }}</a>
              </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}