{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/User/championships.html.twig #}

{% set cur_game = '' %}
<ul>
    {% for championship in championships %}
        {% if cur_game is null or cur_game != championship.game.name %}
            {% set cur_game = championship.game.name %}
            <li class="title">{{ cur_game }}</li>
            {% endif %}
        <li>
            <a href="{{ path('rfcCore_championships_show', { 'championshipId': championship.id, 'gameId': championship.game.id  }) }}">{{ championship.name }}</a>
            {% if championship.championshipAgreed %}[{% trans %}Agreed!{% endtrans %}]{% endif %}
            <br />
            {% trans %}Number events:{% endtrans %} {{ championship.listEvents|length }}<br />
            <div>
                <small>
                    <span class="label label-primary">
                        {% trans %}Begin:{% endtrans %} {{ championship.beginDate|date("Y/m/d H:i") }}
                    </span>
                    > 
                    <span class="label label-primary">
                        {% trans %}End:{% endtrans %} {{ championship.endDate|date("Y/m/d H:i") }}
                    </span>
                </small>
            </div>
        </li>
    {% endfor %}
</ul>