{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/User/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <div class="jquery_tabs">
        <h4>Infos</h4>
        <div class="tabbody">
            {% trans_default_domain 'FOSUserBundle' %}

            <div>
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                <p>First name: {{ user.firstName }}</p>
                <p>Last name: {{ user.lastName }}</p>
            </div>
        </div>
        <h4>Preferences</h4>
        <div class="tabbody">
            {% if app.user.listPreferences is not empty %}
                <ul>
                    {% for preference in app.user.listPreferences %}
                        <li>{{ preference.name }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <h4>Championships</h4>
        <div class="tabbody">
            {% set cur_game = '' %}
            <ul>
                {% for championship in championships %}
                {% if cur_game is null or cur_game != championship.game.name %}
                    {% set cur_game = championship.game.name %}
                    <li class="title">{{ cur_game }}</li>
                {% endif %}
                    <li>
                        <a href="{{ path('rfcCore_championships_show', { 'championshipId': championship.id, 'gameId': championship.game.id  }) }}">{{ championship.name }}</a>
                        {% if championship.isAgreed %}[Agreed!]{% endif %}
                        <br />
                        Number events : {{ championship.listEvents|length }}<br />
                        <div>
                            <small>
                                <span class="label label-primary">
                                    Begin : {{ championship.beginDate|date("Y/m/d H:i") }}
                                </span>
                                > 
                                <span class="label label-primary">
                                    End : {{ championship.endDate|date("Y/m/d H:i") }}
                                </span>
                            </small>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h4>Statistics</h4>
        <div class="tabbody">
            /!\ Under construction /!\
        </div>
    </div>

{% endblock %}
