{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/User/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <div class="jquery_tabs">
        <h4>Infos</h4>
        <div class="tabbody">
            {% trans_default_domain 'FOSUserBundle' %}

            <div>
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                <p>First name: {{ user.firstName }}</p>
                <p>Last name: {{ user.lastName }}</p>
            </div>
        </div>
        <h4>Preferences</h4>
        <div class="tabbody">
            <form id="system-properties">
                <table id="mainProperties">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for property in app.user.listPreferences %}
                        <tr>
                            <td>{{ property.id }}</td>
                            <td>{{ property.name }}</td>
                            <td class="small">{{ property.description }}</td>
                            <td>
                                {% if property.type == 'date' %}
                                <input id="{{ property.id }}" name="{{ property.id }}" class="datepicker" type="text" value="{{ property.value }}" data-yearDescending="false" {% if property.min is not null %} data-minYear="{{ property.min }}" {% endif %} {% if property.max is not null %} data-maxYear="{{ property.max }}" {% endif %} data-format="DD-MM-YYYY" data-template="DD MMM YYYY" />
                                {% elseif property.type == 'datetime' %}
                                <input id="{{ property.id }}" name="{{ property.id }}" class="datetimepicker" type="text" value="{{ property.value }}" data-yearDescending="false" {% if property.min is not null %} data-minYear="{{ property.min }}" {% endif %} {% if property.max is not null %} data-maxYear="{{ property.max }}" {% endif %} data-format="DD-MM-YYYY HH:mm" data-template="DD MMM YYYY     HH mm" />
                                {% elseif property.type == 'datetime' %}
                                <input id="{{ property.id }}" type="number" {% if property.min is not null %} min="{{ property.min }}" {% endif %} {% if property.max is not null %} max="{{ property.max }}" {% endif %} />
                                {% else %}
                                <input id="{{ property.id }}" name="{{ property.id }}" type="{{ property.type }}" value="{{ property.value }}" />
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="ym-button" id="confirm-btn">Confirm</button>
                <button type="reset" class="ym-button" id="reset-btn">Reset</button>
            </form>
        </div>
		{% if crewAwaitingRequests is not empty or user.listCrewRequests is not empty %}
        <h4>Crew</h4>
        <div class="tabbody">
            {% if user.getRequestsByType(1) is not empty %}
                <h5>Pending requests</h5>
                {% for pendingRequest in user.getRequestsByType(1) %}
                    [{{ pendingRequest.crew.game.name }}] 
                    You asked for <strong>{{ pendingRequest.manager.userName }}</strong>'s Crew on {{ pendingRequest.getCreatedAt|date('H:i:s - d-m-Y') }}.<br />
                {% endfor %}
            {% endif %}
            {% if crewAwaitingRequests is not empty %}
                <h5>Users awaiting your answer</h5>
                {% for crewAwaitingRequest in crewAwaitingRequests %}
                    <h6>{{ crewAwaitingRequest.crew.game.name }}</h6>
                        Member <strong>{{ crewAwaitingRequest.requester.userName }}</strong> requested to be part of your crew.<br />
                        Do you accept?<br /><br />
                    <form id="acceptCrewApplication">
                        <input type="hidden" id="crewId" value="{{ crewAwaitingRequest.id }}" />
                        <button type="submit" value="accept" class="ym-button ym-success ym-save">Accept</button>
                    </form>
                    <form id="declineCrewApplication">
                        <input type="hidden" id="crewId" value="{{ crewAwaitingRequest.id }}" />
                        <button type="submit" value="decline" class="ym-button ym-danger ym-delete">Decline</button>
                    </form>
                {% endfor %}
            {% endif %}
            {% if user.getRequestsByType(2) is not empty %}
                <h5>Active crews</h5>
                {% for activeCrew in user.getRequestsByType(2) %}
                    [{{ activeCrew.game.name }}] 
                    You are part in <strong>{{ activeCrew.manager.userName }}</strong>'s Crew since {{ activeCrew.getUpdatedAt|date('H:i:s - d-m-Y') }}.<br />
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        <h4>Championships</h4>
        <div class="tabbody">
            {% set cur_game = '' %}
            <ul>
                {% for championship in championships %}
                {% if cur_game is null or cur_game != championship.game.name %}
                    {% set cur_game = championship.game.name %}
                    <li class="title">{{ cur_game }}</li>
                {% endif %}
                    <li>
                        <a href="{{ path('rfcCore_championships_show', { 'championshipId': championship.id, 'gameId': championship.game.id  }) }}">{{ championship.name }}</a>
                        {% if championship.isAgreed %}[Agreed!]{% endif %}
                        <br />
                        Number events : {{ championship.listEvents|length }}<br />
                        <div>
                            <small>
                                <span class="label label-primary">
                                    Begin : {{ championship.beginDate|date("Y/m/d H:i") }}
                                </span>
                                > 
                                <span class="label label-primary">
                                    End : {{ championship.endDate|date("Y/m/d H:i") }}
                                </span>
                            </small>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h4>Statistics</h4>
        <div class="tabbody">
            /!\ Under construction /!\
        </div>
    </div>

{% endblock %}
