{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Crew/applicationForm.html.twig #}

{% if showRegistrationForm %}
    {% if userState == 0 %}

        <div class="ui grid">
            <div class="four wide column">
                <p>
                    {% trans %}core.crew.application.selectManager{% endtrans %}
                </p>
            </div>
            <div class="four wide column"></div>
            <div class="four wide column"></div>
            <div class="four wide column">
                <div class="ui segment">
                    <form id="sendCrewRequest">
                        <input type="hidden" id="requesterId" value="{{ app.user.id }}" />
                        <input type="hidden" id="gameId" value="{{ appSettings.getGame().id }}" />
                        <select id="managerId">
                            {% for user in users %}
                                {% if user.id != app.user.id %}
                                    <option value="{{ user.id }}">{{ user.userName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button type="submit" value="sendRequest" class="ui right floated green icon mini button"><i class="check icon"></i>{% trans %}core.action.sendRequest{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}

    {% if userState == 1 %}

        <div class="ui grid">
            <div class="four wide column">
                <p>
                    {% trans with { '%username%': crew.manager.userName }%}core.crew.application.awaiting{% endtrans %}
                </p>
            </div>
            <div class="four wide column"></div>
            <div class="four wide column"></div>
            <div class="four wide column">
                <div class="ui segment">
                    <form id="declineCrewApplication">
                        <input type="hidden" id="crewRequestId" value="{{ app.user.getLastCrewRequest(crew.id).id }}" />
                        <button type="submit" value="cancel" class="ui right floated red icon mini button"><i class="remove icon"></i>{% trans %}core.action.cancelRequest{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}
{% endif %}
