{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
Copyright (C) 2014 - //Racing-France//

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Crew/crewFeed.html.twig #}

Currently no Feed is available. Please come back soon.

<section class="cd-container">
    <div id="cd-timeline">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="{{ asset('img/cd-icon-picture.svg') }}" alt="Picture">
            </div>

            <div class="cd-timeline-content">
                <h2>Title of section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <div class="actions">
                    <a href="#0" class="ym-button">Reply</a>
                    <a href="#1" class="ym-button">Like it!</a>
                </div>
                <span class="cd-date">Jan 14</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="{{ asset('img/cd-icon-movie.svg') }}" alt="Movie">
            </div>

            <div class="cd-timeline-content">
                <h2>Title of section 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                <div class="actions">
                    <a href="#0" class="ym-button">Reply</a>
                    <a href="#1" class="ym-button">Like it!</a>
                </div>
                <span class="cd-date">Jan 18</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="{{ asset('img/cd-icon-picture.svg') }}" alt="Picture">
            </div>

            <div class="cd-timeline-content">
                <h2>Title of section 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                <a href="#0" class="ym-button">Reply</a><a href="#1" class="ym-button">Like it!</a>
                <span class="cd-date">Jan 24</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="{{ asset('img/cd-icon-location.svg') }}" alt="Location">
            </div>

            <div class="cd-timeline-content">
                <h2>Title of section 4</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <a href="#0" class="ym-button">Reply</a><a href="#1" class="ym-button">Like it!</a>
                <span class="cd-date">Feb 14</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="{{ asset('img/cd-icon-location.svg') }}" alt="Location">
            </div>

            <div class="cd-timeline-content">
                <h2>Title of section 5</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                <a href="#0" class="ym-button">Reply</a><a href="#1" class="ym-button">Like it!</a>
                <span class="cd-date">Feb 18</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="{{ asset('img/cd-icon-movie.svg') }}" alt="Movie">
            </div>

            <div class="cd-timeline-content">
                <h2>Final Section</h2>
                <p>This is the content of the last section</p>
                <span class="cd-date">Feb 26</span>
            </div>
        </div>
    </div>
</section> <!-- cd-timeline -->